Repository Fancy-Colors/FCG-Fancy-Colors-Game: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js, test:unit

lint:misc:
  run: yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}

lint:css:
  run: 'yarn stylelint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}
  
    '

lint:js:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix --max-warnings=0 {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} && git add {staged_files}
  
    '

test:unit:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest {staged_files} && git add {staged_files}
  
    '

убрал неиспользуемые файлы
  packages/client/src/assets/.keep
  packages/client/src/pages/.keep
  packages/client/src/pages/test.tsx
  packages/client/src/utils/.keep
Due: lint:js

убрал роут модалки
  packages/client/src/components/how-to-modal/how-to-modal.tsx
  packages/client/src/components/isomorphic-portal/isomorphic-portal.tsx
  packages/client/src/components/main-layout/main-layout.tsx
  packages/client/src/components/modal-new-thread/new-thread-modal.tsx
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/routes.tsx
Due: lint:css, lint:js

запретил доступ к странице leaderboard для неавторизованных
  packages/client/src/routes.tsx
Due: lint:js

правки
  packages/client/.env.sample
  packages/client/src/components/hooks/use-auth.tsx
Due: lint:js

Финальные правки, рефакторинг (#75)
  packages/client/src/assets/.keep
  packages/client/src/components/auth-layout/auth-layout.tsx
  packages/client/src/components/auth-layout/index.ts
  packages/client/src/components/hooks/use-auth.tsx
  packages/client/src/components/how-to-modal/how-to-modal.tsx
  packages/client/src/components/isomorphic-portal/isomorphic-portal.tsx
  packages/client/src/components/main-layout/main-layout.tsx
  packages/client/src/components/modal-new-thread/new-thread-modal.tsx
  packages/client/src/components/navigation-link/navigation-link.tsx
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/mock/side-menu-links.ts
  packages/client/src/pages/.keep
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/pages/profile/profile.tsx
  packages/client/src/pages/test.tsx
  packages/client/src/routes.tsx
  packages/client/src/utils/.keep
  packages/client/src/utils/protected-routes.tsx
  packages/server/src/controllers/ssr.controller.ts
  packages/server/typings/client.d.ts
Due: lint:css, lint:js

Update cr-push.yml
  .github/workflows/cr-push.yml
Due: lint:misc

исправил кэширование статики в volume
  docker-compose.yml
  nginx/templates/default.conf.template
Due: lint:misc

Backend/forum/thread with first message/130 (#67)
  packages/client/src/styles/utils.pcss
  packages/server/.eslintrc.cjs
  packages/server/src/models/thread.model.ts
  packages/server/src/services/message.service.ts
  packages/server/src/services/thread.service.ts
Due: lint:css, lint:js

исправление типизации
  packages/client/src/services/forum-slice.ts
Due: lint:js

forum-api-threads (#68)
  docker-compose.yml
  nginx/templates/default.conf.template
  packages/client/src/actions/forum.ts
  packages/client/src/api/forum.ts
  packages/client/src/components/forum-item/forum-item.tsx
  packages/client/src/mock/forum-threads.ts
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/forum-slice.ts
  packages/server/src/services/thread.service.ts
Due: lint:misc, lint:js

добавил создание тредов
  packages/client/src/actions/forum.ts
  packages/client/src/api/forum.ts
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/components/modal-new-thread/new-thread-modal.tsx
  packages/client/src/pages/forum/forum.tsx
Due: lint:js

правки форума и модалки
  .github/workflows/cr-push.yml
  packages/client/src/components/how-to-modal/how-to-modal.module.pcss
  packages/client/src/pages/forum-thread/forum-thread.tsx
Due: lint:misc, lint:css, lint:js

обновил шаги развёртывания дев окружения
  README.md
Due: lint:misc

Path conditions:
  lint:misc: any of: *.{html,json,yml,md}, but not: package-lock.json
  lint:css: any of: *.{css,pcss}
  lint:js: any of: *.{ts,tsx}, but not: ^(.*)\.(spec|test)\.tsx?
  test:unit: any of: *.{spec,test}.{ts,tsx}
