Repository Fancy-Colors/FCG-Fancy-Colors-Game: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js, test:unit

lint:misc:
  run: yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}

lint:css:
  run: 'yarn stylelint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}
  
    '

lint:js:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix --max-warnings=0 {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} && git add {staged_files}
  
    '

test:unit:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest {staged_files} && git add {staged_files}
  
    '

исправлена макс высота передаваемая в colorPicker
  packages/client/src/components/game-view/utils/resize-field.ts
Due: lint:js

добавил will-change на канвас для оптимизации зума
  packages/client/src/components/game-view/game-view.module.pcss
Due: lint:css

заменил фавиконку
  packages/client/index.html
  packages/client/public/favicon.svg
  packages/client/public/sw.js
  packages/client/public/vite.svg
Due: lint:misc

выровнял стрелки в лиде и убрал вторую Сашу
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/lead/lead.module.pcss
Due: lint:css, lint:js

feature/forum-redux/118 (#51)
  packages/client/src/actions/forum.ts
  packages/client/src/actions/index.ts
  packages/client/src/api/forum.ts
  packages/client/src/api/index.ts
  packages/client/src/components/forum-item/forum-item.tsx
  packages/client/src/mock/forum-thread.ts
  packages/client/src/mock/forum-threads.ts
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/forum-slice.ts
  packages/client/src/services/index.ts
Due: lint:js

Правки по ревью
  packages/client/src/components/burger-menu/burger-menu.module.pcss
  packages/client/src/components/burger-menu/burger-menu.tsx
  packages/client/src/components/burger-menu/index.ts
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
Due: lint:css, lint:js

Добавлен хук useWindowSize
  packages/client/src/components/hooks/index.ts
  packages/client/src/components/hooks/use-window-size.ts
  packages/client/src/components/side-menu/side-menu.tsx
Due: lint:js

code style. Изменяет обновление стора через слайс.
  packages/client/src/services/forum-slice.ts
Due: lint:js

убран setPath
  packages/client/src/components/side-menu/side-menu.tsx
Due: lint:js

fix. Возвращает обновление стора как было.
  packages/client/src/services/forum-slice.ts
Due: lint:js

feature. Использует функционал RTL для обновления состояния.
  packages/client/src/services/forum-slice.ts
Due: lint:js

feature. Использует функционал RTL для обновления состояния для форума.
  packages/client/src/services/forum-slice.ts
Due: lint:js

feature. Добавляет текущую страницу в глобальный стор.
  packages/client/src/pages/forum-thread/forum-thread.tsx
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/forum-slice.ts
Due: lint:js

адаптация профиля под мобильнеы устройства
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/upload-field/upload-field.module.pcss
  packages/client/src/pages/profile/profile.module.pcss
  packages/client/src/pages/profile/profile.tsx
Due: lint:css, lint:js

Исправлены размеры аватарок
  packages/client/src/components/avatar/avatar.module.pcss
Due: lint:css

апи лидерборда
  packages/client/src/actions/index.ts
  packages/client/src/actions/leaderboard.ts
  packages/client/src/api/index.ts
  packages/client/src/api/leaderboard.ts
  packages/client/src/pages/leaderboard/leaderboard.tsx
  packages/client/src/services/index.ts
  packages/client/src/services/leaderboard-slice.ts
Due: lint:js

Исправлены Error bounadry
  packages/client/src/pages/profile/profile.tsx
Due: lint:js

Improvements/game (#55)
  packages/client/index.html
  packages/client/public/favicon.svg
  packages/client/public/sw.js
  packages/client/public/vite.svg
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/resize-field.ts
  packages/client/src/components/lead/lead.module.pcss
Due: lint:misc, lint:css, lint:js

адаптация лидерборда и сайдменю под мобильные устройства (#53)
  packages/client/src/assets/icons/burger.svg
  packages/client/src/assets/logo-narrow.svg
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/burger-menu/burger-menu.module.pcss
  packages/client/src/components/burger-menu/burger-menu.tsx
  packages/client/src/components/burger-menu/index.ts
  packages/client/src/components/button/button.tsx
  packages/client/src/components/footer/footer.module.pcss
  packages/client/src/components/hooks/index.ts
  packages/client/src/components/hooks/use-window-size.ts
  packages/client/src/components/icon/icon.module.pcss
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/leader/leader.module.pcss
  packages/client/src/components/leader/leader.tsx
  packages/client/src/components/main-layout/main-layout.module.pcss
  packages/client/src/components/navigation-link/navigation-link.module.pcss
  packages/client/src/components/score/score.module.pcss
  packages/client/src/components/score/score.tsx
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/pages/leaderboard/leaderboard.module.pcss
  packages/client/src/pages/leaderboard/leaderboard.tsx
  packages/client/src/pages/profile/profile.module.pcss
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/typography.pcss
  packages/client/src/styles/utils.pcss
  packages/client/src/styles/variables.pcss
  packages/client/typings/app.d.ts
Due: lint:css, lint:js

Поиск игрока
  packages/client/src/actions/index.ts
  packages/client/src/actions/leaderboard.ts
  packages/client/src/api/leaderboard.ts
  packages/client/src/mock/leaders.ts
  packages/client/src/pages/leaderboard/leaderboard.tsx
  packages/client/src/services/leaderboard-slice.ts
Due: lint:js

Пользователь добавляется на лидерборд с актуальным количеством очков
  packages/client/src/actions/index.ts
  packages/client/src/actions/leaderboard.ts
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/pages/leaderboard/leaderboard.tsx
  packages/client/src/services/leaderboard-slice.ts
Due: lint:js

Убрано лишнее условие
  packages/client/src/components/side-menu/side-menu.tsx
Due: lint:js

добавил переход на модалку с правилами через search params
  packages/client/src/app.tsx
  packages/client/src/app.types.ts
  packages/client/src/components/how-to-modal/how-to-modal.tsx
  packages/client/src/components/main-layout/main-layout.tsx
  packages/client/src/components/side-menu/side-menu.tsx
Due: lint:js

вернул App в первозданное состояние
  packages/client/src/app.tsx
Due: lint:js

исправлена навигация в случае попадания на роут с модалкой по прямой ссылке
  packages/client/src/components/how-to-modal/how-to-modal.tsx
Due: lint:js

Правки по ревью
  packages/client/src/actions/index.ts
  packages/client/src/actions/leaderboard.ts
  packages/client/src/api/leaderboard.ts
  packages/client/src/components/game-view/game-view-completed.tsx
Due: lint:js

Правки по ревью
  packages/client/.env.production
  packages/client/jest.config.js
  packages/client/src/actions/leaderboard.ts
  packages/client/src/api/leaderboard.ts
  packages/client/src/services/leaderboard-slice.ts
Due: lint:js

Переменная добавлена в файлы env
  packages/client/.env.sample
  packages/client/src/vite-env.d.ts
Due: lint:js

Правки по ревью
  packages/client/src/actions/leaderboard.ts
  packages/client/src/pages/leaderboard/leaderboard.tsx
  packages/client/src/services/leaderboard-slice.ts
Due: lint:js

адаптация страницы профиля под мобильные (#56)
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/components/upload-field/upload-field.module.pcss
  packages/client/src/pages/profile/profile.module.pcss
  packages/client/src/pages/profile/profile.tsx
Due: lint:css, lint:js

добавил ssr в дев и прод режимы
  packages/client/.env.development
  packages/client/index.html
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/public/sw.js
  packages/client/src/api/auth.ts
  packages/client/src/app.tsx
  packages/client/src/components/auth-layout/auth-layout.tsx
  packages/client/src/components/client-only/client-only.tsx
  packages/client/src/components/client-only/index.ts
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/draw-history.ts
  packages/client/src/components/game-view/utils/render-path.ts
  packages/client/src/components/game-view/utils/use-pattern-image.ts
  packages/client/src/components/hooks/use-fullscreen.ts
  packages/client/src/components/hooks/use-theme.tsx
  packages/client/src/components/isomorphic-portal/index.ts
  packages/client/src/components/isomorphic-portal/isomorphic-portal.tsx
  packages/client/src/components/modal/modal.tsx
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/game/game.tsx
  packages/client/src/routes.tsx
  packages/eslint-config-shared/index.js
  packages/server/.eslintrc.cjs
  packages/server/index.ts
  packages/server/jest.config.js
  packages/server/package.json
  packages/server/tsconfig.json
  yarn.lock
Due: lint:misc, lint:js

сборка клиента для корректного линтинга проекта
  .github/workflows/checks.yml
  packages/client/.eslintignore
  packages/server/.eslintignore
  packages/server/.eslintrc.cjs
Due: lint:misc

добавил команду build:ssr
  package.json
Due: lint:misc

Компоненент Toast для уведомлений
  packages/client/index.html
  packages/client/src/assets/icons/toastError.svg
  packages/client/src/assets/icons/toastInfo.svg
  packages/client/src/assets/icons/toastSuccess.svg
  packages/client/src/assets/icons/toastWarning.svg
  packages/client/src/components/hooks/use-auth.tsx
  packages/client/src/components/icon/icon.module.pcss
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/main-layout/main-layout.tsx
  packages/client/src/components/toast/index.ts
  packages/client/src/components/toast/toast.module.pcss
  packages/client/src/components/toast/toast.tsx
  packages/client/src/pages/auth/auth.tsx
  packages/client/src/pages/profile/profile.tsx
  packages/client/src/services/app-slice.ts
  packages/client/src/services/index.ts
  packages/client/src/styles/variables.pcss
  packages/client/typings/app.d.ts
Due: lint:misc, lint:css, lint:js

обработка стора на SSR
  packages/client/index.html
  packages/client/src/app.tsx
  packages/client/src/client.d.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/services/forum-slice.ts
  packages/client/src/services/game-slice.ts
  packages/client/src/store.ts
  packages/server/.eslintrc.cjs
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: lint:misc, lint:js

добавил доступ к стору в лоадерах роутов
  packages/client/src/app.tsx
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/routes.tsx
  packages/client/src/store.ts
  packages/server/index.ts
Due: lint:js

сервер порт 3001 -> 5000 для совместимости с oauth
  .env.sample
  packages/client/.env.development
Due: none

OAuth-авторизация
  packages/client/.env.sample
  packages/client/src/api/oauth.ts
  packages/client/src/app.tsx
  packages/client/src/components/form/login-form.tsx
  packages/client/src/components/yandex-oauth-button/index.ts
  packages/client/src/components/yandex-oauth-button/yandex-oauth-button.tsx
  packages/client/src/components/yandex-oauth/index.ts
  packages/client/src/components/yandex-oauth/yandex-oauth.tsx
  packages/client/src/vite-env.d.ts
Due: lint:js

добавил комплицию типов пакета client
  packages/client/package.json
  packages/client/public/sw.js
  packages/client/src/components/isomorphic-portal/isomorphic-portal.tsx
  packages/client/src/services/game-slice.ts
  packages/client/tsconfig.prod.json
  packages/client/vite.config.ts
  packages/server/index.ts
  yarn.lock
Due: lint:misc, lint:js

client-only перевод в jsx
  packages/client/src/components/client-only/client-only.tsx
Due: lint:js

Path conditions:
  lint:misc: any of: *.{html,json,yml,md}, but not: package-lock.json
  lint:css: any of: *.{css,pcss}
  lint:js: any of: *.{ts,tsx}, but not: ^(.*)\.(spec|test)\.tsx?
  test:unit: any of: *.{spec,test}.{ts,tsx}
