Repository Fancy-Colors/FCG-Fancy-Colors-Game: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js:client, lint:js:server, test:unit:client, test:unit:server

lint:misc:
  run: yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}

lint:css:
  run: 'yarn stylelint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}
  
    '

lint:js:client:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix --max-warnings=0 {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} && git add {staged_files}
  
    '

lint:js:server:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix --max-warnings=0 {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} && git add {staged_files}
  
    '

test:unit:client:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest {staged_files} && git add {staged_files}
  
    '

test:unit:server:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest {staged_files} && git add {staged_files}
  
    '

выровнял правую стрелку
  packages/client/src/components/lead/lead.module.pcss
Due: lint:css

Добавляет `SideMenu` (#15)
  packages/client/src/assets/logo-narrow.svg
  packages/client/src/assets/logo.svg
  packages/client/src/components/side-menu/index.ts
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
Due: lint:css, lint:js:client

Изменены переменные
  packages/client/src/app.tsx
  packages/client/src/pages/test.tsx
  packages/client/src/utils/protected-routes.tsx
Due: lint:js:client

используется компонент Button и убраны лишние стили
  packages/client/src/components/lead/lead.module.pcss
  packages/client/src/components/lead/lead.tsx
Due: lint:css, lint:js:client

настройка линтеров
  packages/client/src/components/avatar/avatar.tsx
  packages/client/src/components/button/button.tsx
  packages/client/src/components/button/index.ts
  packages/client/src/main.tsx
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/typography.pcss
  packages/client/src/vite-env.d.ts
  packages/client/stylelint.config.cjs
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  yarn.lock
Due: lint:misc, lint:css, lint:js:client

Добавляет HowToModal
  packages/client/index.html
  packages/client/src/mock/how-to-data.ts
  packages/client/src/modals/how-to-modal/how-to-modal.module.pcss
  packages/client/src/modals/how-to-modal/how-to-modal.tsx
Due: lint:misc, lint:css, lint:js:client

Добавил компонент `ColorPicker` (#18)
  packages/client/src/components/color-picker/color-picker.module.pcss
  packages/client/src/components/color-picker/color-picker.tsx
  packages/client/src/components/color-picker/index.ts
  packages/client/src/styles/utils.pcss
Due: lint:css, lint:js:client

добавил методы валидации
  packages/client/src/utils/validation.ts
Due: lint:js:client

Изменены переменные с id
  packages/client/src/app.tsx
  packages/client/src/pages/test.tsx
Due: lint:js:client

Закрытие модалки. Испрвлена прозрачность и падинги
  packages/client/src/components/modal/modal.module.pcss
  packages/client/src/components/modal/modal.tsx
Due: lint:css, lint:js:client

Закрытие модалки кнопкой Escape
  packages/client/src/components/modal/modal.tsx
Due: lint:js:client

добавляет общие стили
  packages/client/src/app.tsx
  packages/client/src/assets/bg-image.png
  packages/client/src/styles/layout.pcss
Due: lint:css, lint:js:client

добавляет основу главной страницы
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/pages/main/index.ts
  packages/client/src/pages/main/main.module.pcss
  packages/client/src/pages/main/main.tsx
Due: lint:css, lint:js:client

вставляет страницу в роутер
  packages/client/src/app.tsx
Due: lint:js:client

Рендер модалки через портал
  packages/client/index.html
  packages/client/src/components/modal/modal.tsx
Due: lint:misc, lint:js:client

Убрана логика с переходом на страницу назад
  packages/client/src/components/modal/modal.tsx
Due: lint:js:client

интеграция с Modal
  packages/client/src/modals/how-to-modal/how-to-modal.tsx
Due: lint:js:client

Создала компонент Modal (#20)
  packages/client/index.html
  packages/client/src/components/modal/index.ts
  packages/client/src/components/modal/modal.module.pcss
  packages/client/src/components/modal/modal.tsx
  packages/client/src/styles/variables.pcss
Due: lint:misc, lint:css, lint:js:client

Добавила Роутинг (#19)
  packages/client/src/app.tsx
  packages/client/src/pages/test.tsx
  packages/client/src/utils/protected-routes.tsx
Due: lint:js:client

Добавляет `Lead` (#21)
  packages/client/package.json
  packages/client/src/components/lead/index.ts
  packages/client/src/components/lead/lead.module.pcss
  packages/client/src/components/lead/lead.tsx
  packages/client/src/components/lead/lead.types.ts
  packages/client/src/styles/utils.pcss
  packages/client/src/styles/variables.pcss
Due: lint:misc, lint:css, lint:js:client

добавляет функционал закрытия модалки по клику на оверлей и ESC
  packages/client/src/components/modal/modal.tsx
Due: lint:js:client

верстка MainPage + поправка стилей в детях
  packages/client/src/app.test.tsx
  packages/client/src/app.tsx
  packages/client/src/components/game-card/game-card.module.pcss
  packages/client/src/components/modal/modal.tsx
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/mock/gameCards.ts
  packages/client/src/mock/leadSlides.ts
  packages/client/src/mock/tabs.ts
  packages/client/src/modals/how-to-modal/index.ts
  packages/client/src/pages/main/main.module.pcss
  packages/client/src/pages/main/main.tsx
  packages/client/src/styles/variables.pcss
Due: lint:css, lint:js:client, test:unit:client

научил jest работать с css-модулями
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/app.test.tsx
  yarn.lock
Due: lint:misc, test:unit:client

перенес зависимость в dev
  packages/client/package.json
Due: lint:misc

перенес модалки в папку components
  packages/client/src/components/how-to-modal/how-to-modal.module.pcss
  packages/client/src/components/how-to-modal/how-to-modal.tsx
Due: lint:css, lint:js:client

изменил обработку ESC в модалке
  packages/client/src/components/modal/modal.tsx
Due: lint:js:client

добавил index.ts в HowToModal
  packages/client/src/components/how-to-modal/index.ts
Due: lint:js:client

SideMenu: вынес в моки временный хардкод и переименовал типы
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/mock/side-menu-links.ts
Due: lint:js:client

SideMenu: вынес в моки временный хардкод и переименовал типы
  packages/client/src/mock/side-menu-links.ts
Due: lint:js:client

вынес тип RouterPaths отдельно, испр логику работы с активной ссылкой
  packages/client/src/app.tsx
  packages/client/src/app.types.ts
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/mock/side-menu-links.ts
  packages/client/src/pages/main/main.tsx
  packages/client/src/pages/test.tsx
  packages/client/src/utils/protected-routes.tsx
Due: lint:css, lint:js:client

переименовал консистентно файлы
  packages/client/src/mock/game-cards.ts
  packages/client/src/mock/lead-slides.ts
  packages/client/src/pages/main/main.tsx
Due: lint:js:client

настройка линтеров (#22)
  packages/client/src/components/avatar/avatar.tsx
  packages/client/src/components/button/button.tsx
  packages/client/src/components/button/index.ts
  packages/client/src/main.tsx
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/typography.pcss
  packages/client/src/vite-env.d.ts
  packages/client/stylelint.config.cjs
  packages/eslint-config-shared/index.js
  packages/eslint-config-shared/package.json
  yarn.lock
Due: lint:misc, lint:css, lint:js:client

добавил методы валидации (#24)
  packages/client/src/utils/validation.ts
Due: lint:js:client

добавил обработчики Api и авторизацию
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/api/auth.ts
  packages/client/src/api/base.ts
  packages/client/src/api/http-client.ts
  packages/client/src/api/index.ts
  packages/client/src/api/types.ts
  packages/client/src/api/user.ts
  packages/client/src/app.tsx
  packages/client/src/client.d.ts
  packages/client/src/components/auth-layout/auth-layout.tsx
  packages/client/src/components/auth-layout/index.ts
  packages/client/src/components/hooks/use-auth.tsx
  packages/client/src/utils/api-transformers.ts
  packages/client/src/utils/has-api-error.ts
  packages/client/src/utils/protected-routes.tsx
  packages/client/test/setup-env.ts
  packages/client/tsconfig.json
  packages/client/typings/app.d.ts
  packages/client/vite.config.ts
  packages/eslint-config-shared/index.js
  yarn.lock
Due: lint:misc, lint:js:client

обновил локфайл
  yarn.lock
Due: none

игнор naming-convention в ответах сервера
  packages/client/src/api/types.ts
Due: lint:js:client

исправил ошибку в параметре
  packages/client/src/components/modal/modal.tsx
  yarn.lock
Due: lint:js:client

fallback `VITE_API_BASE_URL`
  packages/client/jest.config.js
Due: none

создание .env файла при инициализации для клиента
  init.js
  packages/client/.env.sample
Due: none

добавил страницу профиля
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/text-field/text-field.tsx
  packages/client/src/components/upload-field/index.ts
  packages/client/src/components/upload-field/upload-field.module.pcss
  packages/client/src/components/upload-field/upload-field.tsx
  packages/client/src/pages/profile/index.tsx
  packages/client/src/pages/profile/profile.module.pcss
  packages/client/src/pages/profile/profile.tsx
  packages/client/src/styles/utils.pcss
Due: lint:css, lint:js:client

Path conditions:
  lint:misc: any of: *.{html,json,yml,md}, but not: package-lock.json
  lint:css: any of: *.{css,pcss}
  lint:js:client: any of: *.{ts,tsx} and ^packages/client/ and not (^(.*)\.(spec|test)\.tsx?)
  lint:js:server: any of: *.{ts,tsx} and ^packages/server/ and not (^(.*)\.(spec|test)\.tsx?)
  test:unit:client: any of: *.{spec,test}.{ts,tsx} and ^packages/client/
  test:unit:server: any of: *.{spec,test}.{ts,tsx} and ^packages/server/
