Repository Fancy-Colors/FCG-Fancy-Colors-Game: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js:client, lint:js:server, test:unit:client, test:unit:server

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:misc:
      glob: '*.{html,json,yml,md}'
      exclude: 'package-lock.json'
      run: yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}
    lint:css:
      glob: '*.{css,pcss}'
      run: >
        yarn stylelint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        git add {staged_files}
    lint:js:client:
      root: 'packages/client/'
      glob: '*.{ts,tsx}'
      exclude: '^(.*)\.(spec|test)\.tsx?'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix --max-warnings=0 {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} &&
        git add {staged_files}
    lint:js:server:
      root: 'packages/server/'
      glob: '*.{ts,tsx}'
      exclude: '^(.*)\.(spec|test)\.tsx?'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix --max-warnings=0 {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} &&
        git add {staged_files}
    test:unit:client:
      root: 'packages/client/'
      glob: '*.{spec,test}.{ts,tsx}'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest {staged_files} &&
        git add {staged_files}
    test:unit:server:
      root: 'packages/server/'
      glob: '*.{spec,test}.{ts,tsx}'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest {staged_files} &&
        git add {staged_files}

добавил страницу с игрой в лэйаут
  packages/client/src/app.tsx
  packages/client/src/pages/game/game.module.pcss
  packages/client/src/pages/game/game.tsx
Due: lint:css, lint:js:client

вндерил страницы в общий лэйаут
  packages/client/src/app.tsx
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/components/forum-thread/forum-thread.module.pcss
  packages/client/src/components/forum-thread/forum-thread.tsx
  packages/client/src/pages/forum-thread/forum-thread.module.pcss
  packages/client/src/pages/forum-thread/forum-thread.tsx
  packages/client/src/pages/forum-thread/index.ts
Due: lint:css, lint:js:client

добавил компоненты `text-area` и `message-composer`
  packages/client/src/assets/icons/attach.svg
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/message-composer/index.ts
  packages/client/src/components/message-composer/message-composer.module.pcss
  packages/client/src/components/message-composer/message-composer.tsx
  packages/client/src/components/text-area/index.ts
  packages/client/src/components/text-area/text-area.module.pcss
  packages/client/src/components/text-area/text-area.tsx
  packages/client/typings/app.d.ts
Due: lint:css, lint:js:client

исправил название иконки
  packages/client/src/mock/side-menu-links.ts
Due: lint:js:client

вернул название иконки
  packages/client/src/assets/icons/forum.svg
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/message-composer/message-composer.tsx
  packages/client/src/mock/side-menu-links.ts
  packages/client/typings/app.d.ts
Due: lint:js:client

Поправлена верстка страниц, перенесено в один файл
  packages/client/src/app.tsx
  packages/client/src/pages/auth/auth.module.pcss
  packages/client/src/pages/auth/auth.tsx
  packages/client/src/pages/auth/index.ts
  packages/client/src/pages/register-login/index.ts
  packages/client/src/pages/register-login/login.tsx
  packages/client/src/pages/register-login/register.tsx
  packages/client/src/styles/variables.pcss
Due: lint:css, lint:js:client

сделал скроллбар с отступом
  packages/client/src/components/text-area/text-area.module.pcss
  packages/client/src/components/text-area/text-area.tsx
Due: lint:css, lint:js:client

убрал лишние отступы
  packages/client/src/components/message-composer/message-composer.module.pcss
Due: lint:css

Лэйаут основных страниц (#38)
  packages/client/src/app.tsx
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/avatar/avatar.tsx
  packages/client/src/components/error-stub/error-stub.tsx
  packages/client/src/components/error-stub/index.ts
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/components/forum-thread/forum-thread.module.pcss
  packages/client/src/components/forum-thread/forum-thread.tsx
  packages/client/src/components/lead/lead.module.pcss
  packages/client/src/components/main-layout/index.ts
  packages/client/src/components/main-layout/main-layout.module.pcss
  packages/client/src/components/main-layout/main-layout.tsx
  packages/client/src/components/score/score.module.pcss
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/pages/error/error.module.pcss
  packages/client/src/pages/error/error.tsx
  packages/client/src/pages/error/index.ts
  packages/client/src/pages/forum-thread/forum-thread.module.pcss
  packages/client/src/pages/forum-thread/forum-thread.tsx
  packages/client/src/pages/forum-thread/index.ts
  packages/client/src/pages/game/game.module.pcss
  packages/client/src/pages/game/game.tsx
  packages/client/src/pages/leaderboard/leaderboard.module.pcss
  packages/client/src/pages/leaderboard/leaderboard.tsx
  packages/client/src/pages/main/main.module.pcss
  packages/client/src/pages/main/main.tsx
  packages/client/src/pages/profile/profile.module.pcss
  packages/client/src/pages/profile/profile.tsx
  packages/client/src/styles/index.pcss
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/utils.pcss
  packages/client/src/styles/variables.pcss
  packages/eslint-config-shared/index.js
Due: lint:css, lint:js:client

User api в side-menu (#37)
  packages/client/src/assets/icons/user.svg
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/profile-link/profile-link.module.pcss
  packages/client/src/components/profile-link/profile-link.tsx
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/mock/side-menu-links.ts
  packages/client/typings/app.d.ts
Due: lint:css, lint:js:client

Компоненты `text-area` и `message-composer` (#39)
  packages/client/src/components/message-composer/index.ts
  packages/client/src/components/message-composer/message-composer.module.pcss
  packages/client/src/components/message-composer/message-composer.tsx
  packages/client/src/components/text-area/index.ts
  packages/client/src/components/text-area/text-area.module.pcss
  packages/client/src/components/text-area/text-area.tsx
Due: lint:css, lint:js:client

Lib/RegisterLoginPage/15 (#35)
  packages/client/src/app.tsx
  packages/client/src/components/form/login-form.tsx
  packages/client/src/components/form/register-form.tsx
  packages/client/src/pages/auth/auth.module.pcss
  packages/client/src/pages/auth/auth.tsx
  packages/client/src/pages/auth/index.ts
  packages/client/src/styles/variables.pcss
Due: lint:css, lint:js:client

добавляет преднастройки счета и экран окончания игры
  packages/client/src/components/game-view/game-completed.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/index.ts
  packages/client/src/pages/game/game.module.pcss
  packages/client/src/pages/game/game.tsx
  packages/client/typings/app.d.ts
Due: lint:css, lint:js:client

добавляет хук useFullScreen
  packages/client/src/components/fullscreen-button/fullscreen-button.module.pcss
  packages/client/src/components/fullscreen-button/fullscreen-button.tsx
  packages/client/src/components/fullscreen-button/index.ts
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/hooks/index.ts
  packages/client/src/components/hooks/use-fullscreen.ts
  packages/client/typings/app.d.ts
Due: lint:css, lint:js:client

Модальное окно создания темы форума
  packages/client/src/app.tsx
  packages/client/src/components/modal-new-thread/index.ts
  packages/client/src/components/modal-new-thread/new-thread-modal.module.pcss
  packages/client/src/components/modal-new-thread/new-thread-modal.tsx
Due: lint:css, lint:js:client

edit. Удаляет магическое число.
  packages/client/src/pages/forum/forum.tsx
Due: lint:js:client

edit. Добавляет нужный Forum роут.
  packages/client/src/app.tsx
Due: lint:js:client

Исправлена типизация
  packages/client/src/components/modal-new-thread/new-thread-modal.tsx
Due: lint:js:client

ренейминг переменных + перенос слушателя на window
  packages/client/src/components/fullscreen-button/fullscreen-button.tsx
  packages/client/src/components/hooks/use-fullscreen.ts
Due: lint:js:client

контраст цвета текста и прогресса
  packages/client/package.json
  packages/client/src/components/color-picker/color-picker.module.pcss
  packages/client/src/components/color-picker/color-picker.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/eslint-config-shared/index.js
  yarn.lock
Due: lint:misc, lint:css, lint:js:client

рефакторинг обработки поступающих данных
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/form-colors.ts
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/make-initial-data.ts
  packages/client/src/components/game-view/utils/render-path.ts
  packages/client/src/components/game-view/utils/types.ts
  packages/client/src/pages/game/game.tsx
Due: lint:js:client

переименовал типы
  packages/client/src/components/game-view/game-completed.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/make-initial-data.ts
  packages/client/src/components/game-view/utils/render-path.ts
  packages/client/src/components/game-view/utils/types.ts
  packages/client/src/pages/game/game.tsx
Due: lint:js:client

добавлены логика и экран конца игры
  packages/client/src/components/game-timer/game-timer.module.pcss
  packages/client/src/components/game-timer/game-timer.tsx
  packages/client/src/components/game-timer/index.ts
  packages/client/src/components/game-view/game-completed.tsx
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/index.ts
  packages/client/src/components/game-view/utils/calculate-points.ts
  packages/client/src/components/game-view/utils/draw-history.ts
  packages/client/src/components/game-view/utils/index.ts
  packages/client/src/components/game-view/utils/stringify-time.ts
  packages/client/src/components/game-view/utils/types.ts
  packages/client/src/pages/game/game.tsx
Due: lint:css, lint:js:client

оптимизация процессов + сортировка + новая базовая картинка
  packages/client/src/components/game-timer/game-timer.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/colors-sort-comparator.ts
  packages/client/src/components/game-view/utils/draw-history.ts
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/make-initial-data.ts
  packages/client/src/pages/game/game.tsx
Due: lint:css, lint:js:client

поправлены опечатки
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/pages/game/game.tsx
Due: lint:js:client

настроил линтер для тестов, добавил тест, добавил мок для svg
  jest.config.js
  lefthook.yml
  packages/client/.eslintrc.cjs
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/app.test.tsx
  packages/client/src/components/tabs/tabs.module.pcss
  packages/client/src/components/tabs/tabs.test.tsx
  packages/client/src/components/tabs/tabs.tsx
  packages/client/test/jest-setup.ts
  packages/client/test/mocks/svg.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  packages/eslint-config-shared/index.js
  packages/server/jest.config.js
  yarn.lock
Due: lint:misc, lint:css, lint:js:client, test:unit:client

исправил опечатку
  packages/client/src/components/tabs/tabs.tsx
Due: lint:js:client

добавил новые правила линта
  packages/client/.eslintrc.cjs
Due: none

перенес функцию resizeField в утилиты
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/resize-field.ts
Due: lint:js:client

удалил лишний файл
  packages/client/src/components/game-view/utils/index.ts
Due: lint:js:client

добавлены три реальные картинки, логика обработки перенесена на уровень mainPage
  packages/client/src/assets/game-thumbs/aleksa.png
  packages/client/src/assets/game-thumbs/minion.png
  packages/client/src/assets/game-thumbs/village.png
  packages/client/src/components/game-timer/game-timer.module.pcss
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/mock/game-cards.ts
  packages/client/src/pages/game/game.tsx
  packages/client/src/pages/main/main.tsx
  packages/client/src/utils/make-cards-list.ts
Due: lint:css, lint:js:client

анимация обводки
  packages/client/src/components/color-picker/color-picker.module.pcss
  packages/client/src/components/color-picker/color-picker.tsx
Due: lint:css, lint:js:client

layout/forum-page/26 (#36)
  packages/client/src/app.tsx
  packages/client/src/components/forum-item/forum-item.module.pcss
  packages/client/src/components/forum-item/forum-item.tsx
  packages/client/src/components/forum-item/index.ts
  packages/client/src/mock/forum-threads.ts
  packages/client/src/pages/forum/forum.module.pcss
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/pages/forum/index.ts
Due: lint:css, lint:js:client

добавляет хук useFullScreen (#40)
  packages/client/src/components/fullscreen-button/fullscreen-button.module.pcss
  packages/client/src/components/fullscreen-button/fullscreen-button.tsx
  packages/client/src/components/fullscreen-button/index.ts
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/hooks/index.ts
  packages/client/src/components/hooks/use-fullscreen.ts
  packages/client/typings/app.d.ts
Due: lint:css, lint:js:client

Удален импорт TestPage в app.tsx
  packages/client/src/app.tsx
Due: lint:js:client

Модальное окно создания темы форума (#41)
  packages/client/src/app.tsx
  packages/client/src/components/modal-new-thread/index.ts
  packages/client/src/components/modal-new-thread/new-thread-modal.module.pcss
  packages/client/src/components/modal-new-thread/new-thread-modal.tsx
Due: lint:css, lint:js:client

убрал магический гэп
  packages/client/src/components/game-view/utils/resize-field.ts
Due: lint:js:client

добавил ховер и pointer на играть заново
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.module.pcss
Due: lint:css, lint:js:client

Подключение React Redux Toolkit
  packages/client/package.json
  packages/client/src/components/hooks/index.ts
  packages/client/src/components/hooks/use-app-dispatch.ts
  packages/client/src/components/hooks/use-app-selector.ts
  packages/client/src/main.tsx
  packages/client/src/store.ts
Due: lint:misc, lint:js:client
