Repository Fancy-Colors/FCG-Fancy-Colors-Game: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js:client, lint:js:server, test:unit:client, test:unit:server

lint:misc:
  run: yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}

lint:css:
  run: 'yarn stylelint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}
  
    '

lint:js:client:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix --max-warnings=0 {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} && git add {staged_files}
  
    '

lint:js:server:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix --max-warnings=0 {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} && git add {staged_files}
  
    '

test:unit:client:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest {staged_files} && git add {staged_files}
  
    '

test:unit:server:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest {staged_files} && git add {staged_files}
  
    '

добавляет базовую верстку игры и начальную логику отрисовки
  packages/client/src/app.tsx
  packages/client/src/assets/squares.png
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/index.ts
  packages/client/src/components/game-view/utils/mockGameData.ts
  packages/client/src/components/game-view/utils/renderPath.ts
  packages/client/src/components/game-view/utils/useGameData.ts
  packages/client/src/pages/game/game.module.pcss
  packages/client/src/pages/game/game.tsx
  packages/client/src/pages/game/index.ts
Due: lint:css, lint:js:client

валидация и отправка
  packages/client/src/app.test.tsx
  packages/client/src/app.tsx
  packages/client/src/components/avatar/avatar.tsx
  packages/client/src/components/hooks/use-auth.tsx
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/upload-field/index.ts
  packages/client/src/components/upload-field/upload-field.module.pcss
  packages/client/src/components/upload-field/upload-field.tsx
  packages/client/src/pages/profile/profile.tsx
  packages/eslint-config-shared/index.js
Due: lint:css, lint:js:client, test:unit:client

мини-рефакторинг
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/pages/profile/profile.tsx
  packages/client/src/styles/utils.pcss
Due: lint:css, lint:js:client

исправления в аватаре
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/avatar/avatar.tsx
  packages/client/src/pages/profile/profile.tsx
  packages/eslint-config-shared/index.js
Due: lint:css, lint:js:client

Верстка страницы лидерборда
  packages/client/src/app.tsx
  packages/client/src/assets/icons/star.svg
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/leader/index.tsx
  packages/client/src/components/leader/leader.module.pcss
  packages/client/src/components/leader/leader.tsx
  packages/client/src/components/score/index.tsx
  packages/client/src/components/score/score.module.pcss
  packages/client/src/components/score/score.tsx
  packages/client/src/mock/leaders.ts
  packages/client/src/pages/leaderboard/index.tsx
  packages/client/src/pages/leaderboard/leaderboard.module.pcss
  packages/client/src/pages/leaderboard/leaderboard.tsx
  packages/client/typings/app.d.ts
Due: lint:css, lint:js:client

Модальное окно HowToModal (#23)
  packages/client/src/components/how-to-modal/how-to-modal.module.pcss
  packages/client/src/components/how-to-modal/how-to-modal.tsx
  packages/client/src/components/how-to-modal/index.ts
  packages/client/src/mock/how-to-data.ts
Due: lint:css, lint:js:client

Верстка `MainPage` (#25)
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/app.test.tsx
  packages/client/src/app.tsx
  packages/client/src/app.types.ts
  packages/client/src/assets/bg-image.png
  packages/client/src/components/game-card/game-card.module.pcss
  packages/client/src/components/modal/modal.tsx
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/mock/game-cards.ts
  packages/client/src/mock/lead-slides.ts
  packages/client/src/mock/side-menu-links.ts
  packages/client/src/mock/tabs.ts
  packages/client/src/pages/main/index.ts
  packages/client/src/pages/main/main.module.pcss
  packages/client/src/pages/main/main.tsx
  packages/client/src/pages/test.tsx
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/variables.pcss
  packages/client/src/utils/protected-routes.tsx
  yarn.lock
Due: lint:misc, lint:css, lint:js:client, test:unit:client

Добавила компонент формы регистрации и логина
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/form/form.module.pcss
  packages/client/src/components/form/form.tsx
  packages/client/src/components/form/index.ts
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/text-field/text-field.tsx
  packages/client/src/mock/register-fields.ts
  packages/client/src/utils/validation.ts
  yarn.lock
Due: lint:css, lint:js:client

фикс линтера
  packages/client/src/components/modal/modal.tsx
Due: lint:js:client

layout. Добавляет компонент ForumMessage для отображения отдельного сообщения.
  packages/client/src/components/forum-message/forum-message.module.pcss
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/components/forum-message/index.ts
Due: lint:css, lint:js:client

edit. Делает аватар по центру.
  packages/client/src/components/forum-message/forum-message.module.pcss
Due: lint:css

добавляет базовый движок игры
  packages/client/src/assets/squares.png
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/form-colors.ts
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/render-path.ts
  packages/client/src/components/hooks/use-debounce.ts
  packages/client/src/pages/game/game.module.pcss
  packages/client/src/pages/game/game.tsx
Due: lint:css, lint:js:client

кодировка ссылки на аватар
  packages/client/src/components/avatar/avatar.tsx
Due: lint:js:client

оптимизации движка - паттерн создается вовне
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/render-path.ts
Due: lint:js:client

убрал `optional` с параметра `error`
  packages/client/src/components/hooks/use-auth.tsx
Due: lint:js:client

layout. Добавляет страницу (компонент) forum tread.
  packages/client/src/app.tsx
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/components/forum-thread/forum-thread.module.pcss
  packages/client/src/components/forum-thread/forum-thread.tsx
  packages/client/src/components/forum-thread/index.ts
  packages/client/src/mock/forum-thread.ts
Due: lint:css, lint:js:client

Добавлен компонент-обертка ErrorBoundary
  packages/client/src/utils/error-boundary.tsx
Due: lint:js:client

клик срабатывает и при зуме!
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
Due: lint:css, lint:js:client

Убрала ErrorInfo
  packages/client/src/utils/error-boundary.tsx
Due: lint:js:client

зум происходит относительно положения мышки
  packages/client/src/components/game-view/game-view.tsx
Due: lint:js:client

обновил путь `RouterPaths`
  packages/client/src/components/hooks/use-auth.tsx
Due: lint:js:client

Авторизация + API (#26)
  init.js
  packages/client/.env.sample
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/api/auth.ts
  packages/client/src/api/base.ts
  packages/client/src/api/http-client.ts
  packages/client/src/api/index.ts
  packages/client/src/api/types.ts
  packages/client/src/api/user.ts
  packages/client/src/app.tsx
  packages/client/src/client.d.ts
  packages/client/src/components/auth-layout/auth-layout.tsx
  packages/client/src/components/auth-layout/index.ts
  packages/client/src/components/hooks/use-auth.tsx
  packages/client/src/components/modal/modal.tsx
  packages/client/src/utils/api-transformers.ts
  packages/client/src/utils/has-api-error.ts
  packages/client/src/utils/protected-routes.tsx
  packages/client/test/setup-env.ts
  packages/client/tsconfig.json
  packages/client/typings/app.d.ts
  packages/client/vite.config.ts
  packages/eslint-config-shared/index.js
  yarn.lock
Due: lint:misc, lint:js:client

добавил main-layout
  packages/client/src/app.tsx
  packages/client/src/components/lead/lead.module.pcss
  packages/client/src/components/main-layout/index.ts
  packages/client/src/components/main-layout/main-layout.module.pcss
  packages/client/src/components/main-layout/main-layout.tsx
  packages/client/src/pages/main/main.module.pcss
  packages/client/src/pages/main/main.tsx
  packages/client/src/styles/index.pcss
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/utils.pcss
  packages/client/src/styles/variables.pcss
Due: lint:css, lint:js:client

изменил отсечку макс зума
  packages/client/src/components/game-view/game-view.tsx
Due: lint:js:client

Верстка страницы лидерборда (#28)
  packages/client/src/app.tsx
  packages/client/src/assets/icons/star.svg
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/leader/index.tsx
  packages/client/src/components/leader/leader.module.pcss
  packages/client/src/components/leader/leader.tsx
  packages/client/src/components/score/index.tsx
  packages/client/src/components/score/score.module.pcss
  packages/client/src/components/score/score.tsx
  packages/client/src/mock/leaders.ts
  packages/client/src/pages/leaderboard/index.tsx
  packages/client/src/pages/leaderboard/leaderboard.module.pcss
  packages/client/src/pages/leaderboard/leaderboard.tsx
  packages/client/typings/app.d.ts
Due: lint:css, lint:js:client

меняет название поля
  packages/client/src/components/game-view/utils/game-data.ts
Due: lint:js:client

добавляет роут в App
  packages/client/src/app.tsx
Due: lint:js:client

пути импортируются из отдельного файла
  packages/client/src/app.tsx
Due: lint:js:client

убирает Protected Route
  packages/client/src/app.tsx
Due: lint:js:client

убирает коммент
  packages/client/src/app.tsx
Due: lint:js:client

Bugfix/main router bug (#34)
  packages/client/src/app.tsx
Due: lint:js:client

refactoring. Убирает импорт переменных в стиле.
  packages/client/src/components/forum-message/forum-message.module.pcss
Due: lint:css

Можно указывать определенный компонент
  packages/client/src/utils/error-boundary.tsx
Due: lint:js:client

fix. пачка исправлений согласно CR.
  packages/client/src/components/forum-message/forum-message.module.pcss
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/components/modal/modal.tsx
Due: lint:css, lint:js:client

игровое поле подстраивается под доступное пространство
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
Due: lint:css, lint:js:client

fix. Пачка исправлений согласно CR.
  packages/client/src/components/forum-message/forum-message.module.pcss
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/components/forum-thread/forum-thread.module.pcss
  packages/client/src/components/forum-thread/forum-thread.tsx
  packages/client/src/mock/forum-thread.ts
Due: lint:css, lint:js:client

отрисовка не через requestAnimationFrame а принудительная для оптимизации
  packages/client/src/components/game-view/game-view.tsx
Due: lint:js:client

fix. Другая пачка исправлений согласно CR.
  packages/client/src/app.tsx
  packages/client/src/components/forum-thread/forum-thread.module.pcss
  packages/client/src/components/forum-thread/forum-thread.tsx
  packages/client/src/mock/forum-thread.ts
Due: lint:css, lint:js:client

fix. Делает вывод даты через компонент DateFormatted.
  packages/client/src/components/forum-message/forum-message.tsx
Due: lint:js:client

fix. Добавляет экспорт типа.
  packages/client/src/components/forum-message/forum-message.tsx
Due: lint:js:client

Path conditions:
  lint:misc: any of: *.{html,json,yml,md}, but not: package-lock.json
  lint:css: any of: *.{css,pcss}
  lint:js:client: any of: *.{ts,tsx} and ^packages/client/ and not (^(.*)\.(spec|test)\.tsx?)
  lint:js:server: any of: *.{ts,tsx} and ^packages/server/ and not (^(.*)\.(spec|test)\.tsx?)
  test:unit:client: any of: *.{spec,test}.{ts,tsx} and ^packages/client/
  test:unit:server: any of: *.{spec,test}.{ts,tsx} and ^packages/server/
