Repository Fancy-Colors/FCG-Fancy-Colors-Game: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js:client, lint:js:server, test:unit:client, test:unit:server

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:misc:
      glob: '*.{html,json,yml,md}'
      exclude: 'package-lock.json'
      run: yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}
    lint:css:
      glob: '*.{css,pcss}'
      run: >
        yarn stylelint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        git add {staged_files}
    lint:js:client:
      root: 'packages/client/'
      glob: '*.{ts,tsx}'
      exclude: '^(.*)\.(spec|test)\.tsx?'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix --max-warnings=0 {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} &&
        git add {staged_files}
    lint:js:server:
      root: 'packages/server/'
      glob: '*.{ts,tsx}'
      exclude: '^(.*)\.(spec|test)\.tsx?'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix --max-warnings=0 {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} &&
        git add {staged_files}
    test:unit:client:
      root: 'packages/client/'
      glob: '*.{spec,test}.{ts,tsx}'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest {staged_files} &&
        git add {staged_files}
    test:unit:server:
      root: 'packages/server/'
      glob: '*.{spec,test}.{ts,tsx}'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest {staged_files} &&
        git add {staged_files}

Добавляет компонент NavigationLink
  packages/client/src/components/navigation-link/navigation-link.module.pcss
  packages/client/src/components/navigation-link/navigation-link.tsx
Due: lint:css, lint:js:client

убрал ненужные пропсы кнопки
  packages/client/src/components/navigation-link/navigation-link.tsx
Due: lint:js:client

Добавляет Footer
  packages/client/src/components/footer/footer.module.pcss
  packages/client/src/components/footer/footer.tsx
  packages/client/src/components/footer/index.ts
Due: lint:css, lint:js:client

изменил формат передачи size
  packages/client/src/components/profile-link/profile-link.tsx
Due: lint:js:client

Переделаны названия размеров
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/button/button.tsx
Due: lint:css, lint:js:client

Заменяет пропс size на более подходящий expanded
  packages/client/src/components/navigation-link/navigation-link.module.pcss
  packages/client/src/components/navigation-link/navigation-link.tsx
Due: lint:css, lint:js:client

Заменяет пропс size на более подходящий expanded
  packages/client/src/components/navigation-link/navigation-link.tsx
Due: lint:js:client

Заменяет пропс size на более подходящий expanded
  packages/client/src/components/footer/footer.module.pcss
  packages/client/src/components/footer/footer.tsx
Due: lint:css, lint:js:client

Удаляет ненужное выключение правила stylelint
  packages/client/src/components/footer/footer.module.pcss
Due: lint:css

Заменяет возможные значения пропса size на полные слова
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/avatar/avatar.tsx
Due: lint:css, lint:js:client

корректировка названия пропсов и правка ссылки
  packages/client/src/components/footer/footer.tsx
Due: lint:js:client

изменил size на expanded
  packages/client/src/components/profile-link/profile-link.module.pcss
  packages/client/src/components/profile-link/profile-link.tsx
Due: lint:css, lint:js:client

Добавляет SideMenu
  packages/client/src/assets/logo-narrow.svg
  packages/client/src/assets/logo.svg
  packages/client/src/components/side-menu/index.ts
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
Due: lint:css, lint:js:client

выравнивает контент футера
  packages/client/src/components/footer/footer.module.pcss
  packages/client/src/components/footer/footer.tsx
Due: lint:css, lint:js:client

убрал ненужный импорт
  packages/client/src/components/footer/footer.tsx
Due: lint:js:client

поправил стили
  packages/client/src/components/side-menu/side-menu.module.pcss
Due: lint:css

поправил стили 2
  packages/client/src/components/side-menu/side-menu.module.pcss
Due: lint:css

Добавлен класс для кнопки-иконки
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/button/button.tsx
Due: lint:css, lint:js:client

Добавил компонент `GameCard`
  packages/client/src/components/game-card/game-card.module.pcss
  packages/client/src/components/game-card/game-card.tsx
  packages/client/src/components/game-card/index.ts
Due: lint:css, lint:js:client

Создан базовый роутинг
  packages/client/src/app.tsx
  packages/client/src/pages/test-page.tsx
Due: lint:js:client

тестовая страница
  packages/client/src/pages/test.tsx
Due: lint:js:client

Создал компонент `Pagination`
  packages/client/src/components/pagination/index.ts
  packages/client/src/components/pagination/pagination.module.pcss
  packages/client/src/components/pagination/pagination.tsx
Due: lint:css, lint:js:client

UI kit (#12)
  .gitignore
  .nvmrc
  .yarnrc.yml
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/avatar/avatar.tsx
  packages/client/src/components/avatar/index.ts
  packages/client/src/components/date-formatted/date-formatted.tsx
  packages/client/src/components/date-formatted/index.ts
  packages/client/src/components/error-stub/Readme.md
  packages/client/src/components/error-stub/error-stub.module.pcss
  packages/client/src/components/error-stub/error-stub.tsx
  packages/client/src/components/error-stub/index.ts
  packages/client/src/components/tabs/index.ts
  packages/client/src/components/tabs/tabs.module.pcss
  packages/client/src/components/tabs/tabs.tsx
  packages/client/src/components/text-field/index.ts
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/text-field/text-field.tsx
  packages/client/src/styles/index.pcss
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/typography.pcss
  packages/client/src/styles/variables.pcss
  packages/client/src/utils/normalize-date.ts
  yarn.lock
Due: lint:misc, lint:css, lint:js:client

добавил компонент Icon (#8)
  .nvmrc
  packages/client/src/assets/icons/arrow.svg
  packages/client/src/assets/icons/circle.svg
  packages/client/src/assets/icons/close.svg
  packages/client/src/assets/icons/enter.svg
  packages/client/src/assets/icons/exit.svg
  packages/client/src/assets/icons/forum.svg
  packages/client/src/assets/icons/github.svg
  packages/client/src/assets/icons/leaderboard.svg
  packages/client/src/assets/icons/main.svg
  packages/client/src/assets/icons/message-count.svg
  packages/client/src/assets/icons/search.svg
  packages/client/src/assets/icons/settings.svg
  packages/client/src/assets/icons/smile.svg
  packages/client/src/assets/icons/telegram.svg
  packages/client/src/assets/icons/vk.svg
  packages/client/src/components/icon/icon.module.pcss
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/icon/index.ts
  packages/client/tsconfig.json
  packages/client/typings/app.d.ts
  yarn.lock
Due: lint:misc, lint:css, lint:js:client

Добавляет Footer (#14)
  .nvmrc
  packages/client/src/components/footer/footer.module.pcss
  packages/client/src/components/footer/footer.tsx
  packages/client/src/components/footer/index.ts
  yarn.lock
Due: lint:css, lint:js:client

компоненты разделены на Button и ButtonLink
  packages/client/src/components/button/button.tsx
  packages/client/src/components/button/index.ts
Due: lint:js:client

Отдельно вынесены названия путей
  packages/client/src/app.tsx
Due: lint:js:client

Скорректированы названия путей
  packages/client/src/app.tsx
Due: lint:js:client

Добавляет компонент `NavigationLink` (#13)
  .nvmrc
  packages/client/src/components/navigation-link/index.ts
  packages/client/src/components/navigation-link/navigation-link.module.pcss
  packages/client/src/components/navigation-link/navigation-link.tsx
Due: lint:css, lint:js:client

Добавил компонент `GameCard` (#16)
  packages/client/src/components/game-card/game-card.module.pcss
  packages/client/src/components/game-card/game-card.tsx
  packages/client/src/components/game-card/index.ts
Due: lint:css, lint:js:client

Добавил компонент `ColorPicker`
  packages/client/src/components/color-picker/color-picker.module.pcss
  packages/client/src/components/color-picker/color-picker.tsx
  packages/client/src/components/color-picker/index.ts
  packages/client/src/styles/utils.pcss
Due: lint:css, lint:js:client

Сделан компонент ProtectedRoutes
  packages/client/src/app.tsx
  packages/client/src/pages/test.tsx
  packages/client/src/utils/protected-routes.tsx
Due: lint:js:client

добавил active, выделение и изменил цвет иконки
  packages/client/src/components/profile-link/profile-link.module.pcss
  packages/client/src/components/profile-link/profile-link.tsx
Due: lint:css, lint:js:client

Создала компонент Button (#10)
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/button/button.tsx
  packages/client/src/components/button/index.ts
  packages/client/src/styles/variables.pcss
  yarn.lock
Due: lint:css, lint:js:client

Создала компонент Modal
  packages/client/src/components/modal/index.ts
  packages/client/src/components/modal/modal.module.pcss
  packages/client/src/components/modal/modal.tsx
  packages/client/src/styles/variables.pcss
Due: lint:css, lint:js:client

исправил обрезание выделенного цвета
  packages/client/src/components/color-picker/color-picker.module.pcss
Due: lint:css

Создал компонент `Pagination` (#17)
  packages/client/src/components/pagination/index.ts
  packages/client/src/components/pagination/pagination.module.pcss
  packages/client/src/components/pagination/pagination.tsx
Due: lint:css, lint:js:client

добавляет Lead
  packages/client/package.json
  packages/client/src/components/lead/index.ts
  packages/client/src/components/lead/lead.module.pcss
  packages/client/src/components/lead/lead.tsx
  packages/client/src/components/lead/lead.types.ts
  packages/client/src/styles/utils.pcss
  packages/client/src/styles/variables.pcss
Due: lint:misc, lint:css, lint:js:client

Добавил компонент ProfileLink (#11)
  packages/client/src/components/profile-link/index.ts
  packages/client/src/components/profile-link/profile-link.module.pcss
  packages/client/src/components/profile-link/profile-link.tsx
Due: lint:css, lint:js:client

убрал ненужный модуль
  packages/client/src/components/lead/lead.tsx
Due: lint:js:client
