Repository Fancy-Colors/FCG-Fancy-Colors-Game: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js, test:unit

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:misc:
      glob: '*.{html,json,yml,md}'
      exclude: 'package-lock.json'
      run: yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}
    lint:css:
      glob: '*.{css,pcss}'
      run: >
        yarn stylelint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        git add {staged_files}
    lint:js:
      glob: '*.{ts,tsx}'
      exclude: '^(.*)\.(spec|test)\.tsx?'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix --max-warnings=0 {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} &&
        git add {staged_files}
    test:unit:
      glob: '*.{spec,test}.{ts,tsx}'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest {staged_files} &&
        git add {staged_files}

refactoring. Меняет получение данных из мока на АПИ.
  packages/client/src/api/forum.ts
  packages/client/src/components/forum-item/forum-item.tsx
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/forum-slice.ts
  yarn.lock
Due: lint:js

edit. Добавляет переменную limit в store.
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/forum-slice.ts
Due: lint:js

edit. Добавляет переменную limit в store.
  packages/client/src/actions/forum.ts
Due: lint:js

Backend/forum api message/125 (#66)
  packages/server/src/controllers/message.controller.ts
  packages/server/src/db.ts
  packages/server/src/models/index.ts
  packages/server/src/models/message.model.ts
  packages/server/src/router.ts
  packages/server/src/routes/message.route.ts
  packages/server/src/services/message.service.ts
Due: lint:js

замена then на async/await сервисе Thread
  packages/server/src/services/thread.service.ts
Due: lint:js

Исправляет названия в моковый данных.
  packages/client/src/mock/forum-threads.ts
Due: lint:js

переключение тем на сервере, middlewares авторизации
  packages/client/src/api/auth.ts
  packages/client/src/api/leaderboard.ts
  packages/client/src/api/oauth.ts
  packages/client/src/api/theme.ts
  packages/client/src/api/user.ts
  packages/client/src/components/avatar/avatar.tsx
  packages/client/src/components/hooks/index.ts
  packages/client/src/components/hooks/use-is-mounted.ts
  packages/client/src/components/hooks/use-theme.tsx
  packages/server/package.json
  packages/server/src/controllers/ssr.controller.ts
  packages/server/src/controllers/theme.controller.ts
  packages/server/src/http/user.ts
  packages/server/src/index.ts
  packages/server/src/middlewares/auth.ts
  packages/server/src/models/theme.model.ts
  packages/server/src/router.ts
  packages/server/src/routes/theme.route.ts
  packages/server/src/services/theme.service.ts
  yarn.lock
Due: lint:misc, lint:js

обновил апи url в .env
  packages/client/.env.sample
Due: none

настроил докер сборку сервера
  .dockerignore
  .env.sample
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  init.js
  packages/client/package.json
  packages/client/tsconfig.prod.json
  packages/server/app.d.ts
  packages/server/package.json
  packages/server/src/db.ts
  packages/server/src/index.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint:misc, lint:js

добавил npm команды prepare для запуска при lerna bootstrap
  package.json
  packages/client/package.json
Due: lint:misc

убрал билд клиента,, т.к он запускатется автоматом при bootstrap
  Dockerfile.client
  Dockerfile.server
  package.json
Due: lint:misc

заменил команды очистки
  Dockerfile.server
Due: none

добавил csp заголовки через helmet
  packages/client/src/entry-server.tsx
  packages/server/package.json
  packages/server/src/controllers/ssr.controller.ts
  packages/server/src/index.ts
  packages/server/src/middlewares/csp-nonce.ts
  yarn.lock
Due: lint:misc, lint:js

Реализация получения и создания сообщений треда
  packages/client/src/actions/forum.ts
  packages/client/src/api/base.ts
  packages/client/src/api/forum.ts
  packages/client/src/api/messages.ts
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/components/text-area/text-area.module.pcss
  packages/client/src/components/text-area/text-area.tsx
  packages/client/src/mock/forum-thread.ts
  packages/client/src/pages/forum-thread/forum-thread.module.pcss
  packages/client/src/pages/forum-thread/forum-thread.tsx
  packages/client/src/services/forum-slice.ts
Due: lint:css, lint:js

csp для дев режима
  packages/server/src/index.ts
Due: lint:js

рефакторинг
  packages/server/src/index.ts
Due: lint:js

опечатка
  packages/server/src/index.ts
Due: lint:js

nginx сервис
  .env.sample
  Dockerfile.client
  Dockerfile.nginx
  docker-compose.yml
  nginx/nginx.conf
  nginx/templates/default.conf.template
  packages/client/nginx.conf
  packages/server/src/controllers/ssr.controller.ts
  packages/server/src/index.ts
Due: lint:misc, lint:js

оптимизация развёртывания проекта, фиксы типизации
  .github/workflows/checks.yml
  Dockerfile.server
  package.json
  packages/server/tsconfig.json
  packages/server/typings/client.d.ts
Due: lint:misc, lint:js

адаптация страницы форума под мобильные
  packages/client/src/components/forum-item/forum-item.module.pcss
  packages/client/src/components/forum-item/forum-item.tsx
  packages/client/src/components/pagination/pagination.module.pcss
  packages/client/src/components/pagination/pagination.tsx
  packages/client/src/pages/forum/forum.module.pcss
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/forum-slice.ts
  packages/client/src/styles/utils.pcss
Due: lint:css, lint:js

фикс для линтера
  packages/client/src/mock/forum-threads.ts
Due: lint:js

добавил cr-push workflow для отправки образов в Yandex CR
  .github/workflows/cr-push.yml
Due: lint:misc

убрал лишний запрос на получение текущего юзера
  packages/client/src/components/auth-layout/auth-layout.tsx
  packages/client/src/components/auth-layout/index.ts
  packages/client/src/components/hooks/use-auth.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/routes.tsx
  packages/server/src/controllers/ssr.controller.ts
Due: lint:js

рефакторинг, спрятал страницу форума в protected-routes
  packages/client/src/components/navigation-link/navigation-link.tsx
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/mock/side-menu-links.ts
  packages/client/src/routes.tsx
  packages/client/src/utils/protected-routes.tsx
Due: lint:js

уведомления об успешном обновлении профиля
  packages/client/src/pages/profile/profile.tsx
Due: lint:js

мини-рефакторинг
  packages/client/src/pages/profile/profile.tsx
Due: lint:js

CSP заголовки (#71)
  packages/client/src/entry-server.tsx
  packages/server/package.json
  packages/server/src/controllers/ssr.controller.ts
  packages/server/src/index.ts
  packages/server/src/middlewares/csp-nonce.ts
  yarn.lock
Due: lint:misc, lint:js

Настройка докер сборки сервера (#70)
  .dockerignore
  .env.sample
  .github/workflows/checks.yml
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  init.js
  package.json
  packages/client/package.json
  packages/client/tsconfig.prod.json
  packages/server/package.json
  packages/server/src/db.ts
  packages/server/src/index.ts
  packages/server/tsconfig.json
  packages/server/typings/client.d.ts
  yarn.lock
Due: lint:misc, lint:js

удалил неиспользуемый Dockerfile.client
  Dockerfile.client
Due: none

исправил POSTGRES_HOST для дев режима
  .env.sample
Due: none

nginx сервис (#73)
  .env.sample
  .github/workflows/cr-push.yml
  Dockerfile.client
  Dockerfile.nginx
  docker-compose.yml
  nginx/nginx.conf
  nginx/templates/default.conf.template
  packages/client/nginx.conf
  packages/server/src/controllers/ssr.controller.ts
  packages/server/src/index.ts
  packages/server/typings/client.d.ts
Due: lint:misc, lint:js

мелкие правки
  packages/server/src/controllers/ssr.controller.ts
  yarn.lock
Due: lint:js

переделал BaseApi
  packages/client/.env.sample
  packages/client/src/api/api-clients.ts
  packages/client/src/api/auth.ts
  packages/client/src/api/base.ts
  packages/client/src/api/game-base-api.ts
  packages/client/src/api/game.ts
  packages/client/src/api/leaderboard.ts
  packages/client/src/api/oauth.ts
  packages/client/src/api/theme.ts
  packages/client/src/api/user.ts
  packages/client/src/components/avatar/avatar.tsx
Due: lint:js

Переключение цветовых тем на сервере, auth middlewares (#69)
  packages/client/src/api/api-clients.ts
  packages/client/src/api/auth.ts
  packages/client/src/api/base.ts
  packages/client/src/api/game-base-api.ts
  packages/client/src/api/game.ts
  packages/client/src/api/leaderboard.ts
  packages/client/src/api/oauth.ts
  packages/client/src/api/theme.ts
  packages/client/src/api/user.ts
  packages/client/src/components/hooks/index.ts
  packages/client/src/components/hooks/use-is-mounted.ts
  packages/client/src/components/hooks/use-theme.tsx
  packages/server/package.json
  packages/server/src/controllers/ssr.controller.ts
  packages/server/src/controllers/theme.controller.ts
  packages/server/src/http/user.ts
  packages/server/src/index.ts
  packages/server/src/middlewares/auth.ts
  packages/server/src/models/theme.model.ts
  packages/server/src/router.ts
  packages/server/src/routes/theme.route.ts
  packages/server/src/services/theme.service.ts
  yarn.lock
Due: lint:misc, lint:js

исправил параметры BaseApi
  packages/client/src/api/forum.ts
Due: lint:js

адаптация страницы форума под мобильные (#74)
  packages/client/src/components/forum-item/forum-item.module.pcss
  packages/client/src/components/forum-item/forum-item.tsx
  packages/client/src/components/pagination/pagination.module.pcss
  packages/client/src/components/pagination/pagination.tsx
  packages/client/src/mock/forum-threads.ts
  packages/client/src/pages/forum/forum.module.pcss
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/forum-slice.ts
  packages/client/src/styles/utils.pcss
Due: lint:css, lint:js

исправил параметры BaseApi в messages api
  packages/client/src/api/messages.ts
Due: lint:js

Реализация получения и создания сообщений треда (#72)
  packages/client/src/actions/forum.ts
  packages/client/src/api/forum.ts
  packages/client/src/api/messages.ts
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/components/text-area/text-area.module.pcss
  packages/client/src/components/text-area/text-area.tsx
  packages/client/src/mock/forum-thread.ts
  packages/client/src/pages/forum-thread/forum-thread.module.pcss
  packages/client/src/pages/forum-thread/forum-thread.tsx
  packages/client/src/services/forum-slice.ts
Due: lint:css, lint:js

настройка деплоя
  .dockerignore
  .env.sample
  .github/workflows/cr-push.yml
  Dockerfile.nginx
  Dockerfile.server
  docker-compose.yml
  nginx/modules-enabled/brotli.conf
  nginx/nginx.conf
  nginx/templates/default.conf.template
  packages/client/src/api/api-clients.ts
  packages/server/src/db.ts
  packages/server/src/http/user.ts
  packages/server/src/index.ts
  packages/server/src/models/index.ts
  packages/server/src/models/theme.model.ts
  packages/server/src/models/user-theme.model.ts
Due: lint:misc, lint:js

редирект на главную для авторизованных пользователей со страниц login/register
  packages/client/src/components/avatar/avatar.tsx
  packages/client/src/routes.tsx
  packages/client/src/utils/protected-routes.tsx
  packages/server/typings/client.d.ts
Due: lint:js
