Repository Fancy-Colors/FCG-Fancy-Colors-Game: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js:client, lint:js:server, test:unit:client, test:unit:server

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:misc:
      glob: '*.{html,json,yml,md}'
      exclude: 'package-lock.json'
      run: yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}
    lint:css:
      glob: '*.{css,pcss}'
      run: >
        yarn stylelint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        git add {staged_files}
    lint:js:client:
      root: 'packages/client/'
      glob: '*.{ts,tsx}'
      exclude: '^(.*)\.(spec|test)\.tsx?'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix --max-warnings=0 {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} &&
        git add {staged_files}
    lint:js:server:
      root: 'packages/server/'
      glob: '*.{ts,tsx}'
      exclude: '^(.*)\.(spec|test)\.tsx?'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix --max-warnings=0 {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} &&
        git add {staged_files}
    test:unit:client:
      root: 'packages/client/'
      glob: '*.{spec,test}.{ts,tsx}'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest {staged_files} &&
        git add {staged_files}
    test:unit:server:
      root: 'packages/server/'
      glob: '*.{spec,test}.{ts,tsx}'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest {staged_files} &&
        git add {staged_files}

update & lock dependencies
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: lint:misc

add fonts
  packages/client/src/assets/fonts/MontserratAlternates-Bold.woff2
  packages/client/src/assets/fonts/MontserratAlternates-Regular.woff2
  packages/client/src/styles/fonts.pcss
  packages/client/src/styles/index.pcss
Due: lint:css

Добавил описание работы с иконками
  README.md
Due: lint:misc

Добавил в игнор css в папке dist
  packages/client/stylelint.config.cjs
Due: none

add .yarn to gitignore
  .gitignore
Due: none

Зафиксировал версию `node`
  package.json
  packages/client/package.json
  packages/server/package.json
Due: lint:misc

Исправил селектор заголовков
  packages/client/src/styles/index.pcss
Due: lint:css

Зафиксировал LTS версию ноды
  .nvmrc
  package.json
  packages/client/package.json
  packages/server/package.json
Due: lint:misc

Обновил версию ноды в github action
  .github/workflows/checks.yml
Due: lint:misc

add DateFormatted Component and normalizer utility
  .yarnrc.yml
  packages/client/src/components/date-formatted/date-formatted.tsx
  packages/client/src/utils/normalizeDate.ts
Due: lint:misc, lint:js:client

kebabized util & remove magic nums
  packages/client/src/components/date-formatted/date-formatted.tsx
  packages/client/src/utils/normalize-date.ts
Due: lint:js:client

remove unnecesary type from props
  packages/client/src/components/date-formatted/date-formatted.tsx
Due: lint:js:client

add global styles and vars
  packages/client/src/styles/index.pcss
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/typography.pcss
  packages/client/src/styles/variables.pcss
Due: lint:css

реэкспорт компонента через index.ts
  packages/client/src/components/date-formatted/index.ts
Due: lint:js:client

Добавил компонент `TextField`
  packages/client/src/components/text-field/index.ts
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/text-field/text-field.tsx
Due: lint:css, lint:js:client

Создал компонент `tabs`
  packages/client/src/components/tabs/index.ts
  packages/client/src/components/tabs/tabs.module.pcss
  packages/client/src/components/tabs/tabs.tsx
Due: lint:css, lint:js:client

сузил игнорирование правил stylelint в глоб css-файлах
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/typography.pcss
Due: lint:css

Создал компонент Avatar
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/avatar/avatar.tsx
  packages/client/src/components/avatar/index.ts
Due: lint:css, lint:js:client

убрал лишнее альтернативное присваивания в инлайновом стиле
  packages/client/src/components/avatar/avatar.tsx
Due: lint:js:client

lib/error-stub/90. Добавляет компонент заглушку при ошибке.
  packages/client/src/components/error-stub/Readme.md
  packages/client/src/components/error-stub/error-stub.module.pcss
  packages/client/src/components/error-stub/error-stub.tsx
  packages/client/src/components/error-stub/img.png
  packages/client/src/components/error-stub/index.ts
  yarn.lock
Due: lint:misc, lint:css, lint:js:client

lib/error-stub/90. Добавляет компонент заглушку при ошибке.
  packages/client/src/components/error-stub/Readme.md
  packages/client/src/components/error-stub/error-stub.module.pcss
  packages/client/src/components/error-stub/error-stub.tsx
  packages/client/src/components/error-stub/index.ts
  yarn.lock
Due: lint:misc, lint:css, lint:js:client

refactoring. Согласно КР из https://github.com/Fancy-Colors/FCG-Fancy-Colors-Game/pull/7
  packages/client/src/components/error-stub/Readme.md
  packages/client/src/components/error-stub/error-stub.module.pcss
  packages/client/src/components/error-stub/error-stub.tsx
  packages/client/src/components/error-stub/img.png
  packages/client/src/components/error-stub/index.ts
Due: lint:misc, lint:css, lint:js:client

добавил компонент Icon для удобства работы с иконками и их цветом/размером по всему приложению
  packages/client/src/assets/icons/close-icon.svg
  packages/client/src/assets/icons/forum-icon.svg
  packages/client/src/assets/icons/leaderboard-icon.svg
  packages/client/src/assets/icons/main-icon.svg
  packages/client/src/assets/icons/settings-icon.svg
  packages/client/src/components/icon/icon.module.pcss
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/icon/index.ts
Due: lint:css, lint:js:client

lib/new-message-indicator/92. Добавляет компонент индикатор новых элементов.
  packages/client/src/components/count-indicator/Readme.md
  packages/client/src/components/count-indicator/count-indicator.module.pcss
  packages/client/src/components/count-indicator/count-indicator.tsx
  packages/client/src/components/count-indicator/img_1.png
  packages/client/src/components/count-indicator/img_2.png
  packages/client/src/components/count-indicator/index.ts
Due: lint:misc, lint:css, lint:js:client

lib/new-message-indicator/92. Удаляет локальные картинки в Readme.
  packages/client/src/components/count-indicator/Readme.md
  packages/client/src/components/count-indicator/img_1.png
  packages/client/src/components/count-indicator/img_2.png
Due: lint:misc

Добавил компонент `TextField` (#5)
  packages/client/src/components/text-field/index.ts
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/text-field/text-field.tsx
Due: lint:css, lint:js:client

изменил название подчеркнутого поля first_name с API на консистентное name
  packages/client/src/components/avatar/avatar.tsx
Due: lint:js:client

Создал компонент Avatar (#6)
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/avatar/avatar.tsx
  packages/client/src/components/avatar/index.ts
Due: lint:css, lint:js:client

Lib/error stub/90 (#7)
  packages/client/src/components/error-stub/Readme.md
  packages/client/src/components/error-stub/error-stub.module.pcss
  packages/client/src/components/error-stub/error-stub.tsx
  packages/client/src/components/error-stub/index.ts
  yarn.lock
Due: lint:misc, lint:css, lint:js:client

Начальная настройка компонента NavigationLink
  packages/client/src/components/navigation-link/index.ts
  packages/client/src/components/navigation-link/navigation-link.module.pcss
  packages/client/src/components/navigation-link/navigation-link.tsx
Due: lint:css, lint:js:client

перерисовал иконки и сократил код + 3 новых
  packages/client/src/assets/icons/close-icon.svg
  packages/client/src/assets/icons/forum-icon.svg
  packages/client/src/assets/icons/leaderboard-icon.svg
  packages/client/src/assets/icons/main-icon.svg
  packages/client/src/assets/icons/search-icon.svg
  packages/client/src/assets/icons/settings-icon.svg
  packages/client/src/assets/icons/vk-icon.svg
  packages/client/src/components/icon/icon.tsx
Due: lint:js:client

Создала компонент Button
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/button/button.tsx
  packages/client/src/components/button/index.ts
  packages/client/src/styles/variables.pcss
Due: lint:css, lint:js:client

добавил все иконки и новые размеры
  packages/client/src/assets/icons/arrow.svg
  packages/client/src/assets/icons/circle.svg
  packages/client/src/assets/icons/close.svg
  packages/client/src/assets/icons/enter.svg
  packages/client/src/assets/icons/exit.svg
  packages/client/src/assets/icons/forum.svg
  packages/client/src/assets/icons/github.svg
  packages/client/src/assets/icons/leaderboard.svg
  packages/client/src/assets/icons/main.svg
  packages/client/src/assets/icons/message-count.svg
  packages/client/src/assets/icons/search-icon.svg
  packages/client/src/assets/icons/search.svg
  packages/client/src/assets/icons/settings-icon.svg
  packages/client/src/assets/icons/settings.svg
  packages/client/src/assets/icons/smile.svg
  packages/client/src/assets/icons/telegram.svg
  packages/client/src/assets/icons/vk.svg
  packages/client/src/components/icon/icon.module.pcss
  packages/client/src/components/icon/icon.tsx
Due: lint:css, lint:js:client

Добавил компонент ProfileLink
  packages/client/src/components/profile-link/index.ts
  packages/client/src/components/profile-link/profile-link.module.pcss
  packages/client/src/components/profile-link/profile-link.tsx
Due: lint:css, lint:js:client

убрал инлайновый fill
  packages/client/src/assets/icons/arrow.svg
  packages/client/src/assets/icons/circle.svg
  packages/client/src/assets/icons/close.svg
  packages/client/src/assets/icons/enter.svg
  packages/client/src/assets/icons/exit.svg
  packages/client/src/assets/icons/forum.svg
  packages/client/src/assets/icons/github.svg
  packages/client/src/assets/icons/leaderboard.svg
  packages/client/src/assets/icons/main.svg
  packages/client/src/assets/icons/message-count.svg
  packages/client/src/assets/icons/search.svg
  packages/client/src/assets/icons/settings.svg
  packages/client/src/assets/icons/smile.svg
  packages/client/src/assets/icons/telegram.svg
  packages/client/src/assets/icons/vk.svg
Due: none

правки и улучшения
  packages/client/src/components/profile-link/profile-link.module.pcss
  packages/client/src/components/profile-link/profile-link.tsx
Due: lint:css, lint:js:client

Дeкларирует IconType глобально
  packages/client/src/components/icon/icon.tsx
  packages/client/tsconfig.json
  packages/client/typings/app.d.ts
Due: lint:misc, lint:js:client

Исправляет tsconfig для исключения потери типов установленных пакетов
  packages/client/tsconfig.json
Due: lint:misc

Поправлена типизация и пропсы
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/button/button.tsx
  packages/client/src/styles/variables.pcss
Due: lint:css, lint:js:client
