Repository Fancy-Colors/FCG-Fancy-Colors-Game: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js, test:unit

lint:misc:
  run: yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}

lint:css:
  run: 'yarn stylelint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}
  
    '

lint:js:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix --max-warnings=0 {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} && git add {staged_files}
  
    '

test:unit:
  env:
    PRE_COMMIT: true
  run: 'yarn eslint --fix {staged_files} && yarn prettier --write --loglevel warn {staged_files} && yarn jest {staged_files} && git add {staged_files}
  
    '

Изменяет хранение данных треда и форума в сторе.
  packages/client/src/pages/forum-thread/forum-thread.tsx
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/forum-slice.ts
Due: lint:js

Fix. Фиксит ошибки линтера.
  packages/client/src/actions/forum.ts
  packages/client/src/api/forum.ts
  packages/client/src/mock/forum-thread.ts
  packages/client/src/mock/forum-threads.ts
Due: lint:js

мелкие правки
  packages/server/index.ts
Due: lint:js

добавил rimraf для кроссплатформенности
  packages/server/package.json
  yarn.lock
Due: lint:misc

добавляет API уровней + стор
  packages/client/.eslintrc.cjs
  packages/client/package.json
  packages/client/src/api/game-base-api.ts
  packages/client/src/api/game.ts
  packages/client/src/api/index.ts
  packages/client/src/api/types.ts
  packages/client/src/app.tsx
  packages/client/src/assets/game-thumbs/aleksa.png
  packages/client/src/assets/game-thumbs/minion.png
  packages/client/src/assets/game-thumbs/street.png
  packages/client/src/assets/game-thumbs/village.png
  packages/client/src/components/game-card/game-card.tsx
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/index.ts
  packages/client/src/pages/game/game.tsx
  packages/client/src/pages/main/main.tsx
  packages/client/src/services/index.ts
  packages/client/src/services/level-slice.ts
  packages/client/src/utils/api-transformers.ts
  packages/client/src/utils/catalog-game-cards.ts
  packages/server/package.json
  yarn.lock
Due: lint:misc, lint:js

Route модалки с правилами - через search params (#58)
  packages/client/src/app.tsx
  packages/client/src/app.types.ts
  packages/client/src/components/how-to-modal/how-to-modal.tsx
  packages/client/src/components/main-layout/main-layout.tsx
  packages/client/src/components/side-menu/side-menu.tsx
Due: lint:js

исправил тип приходящий из API
  packages/client/src/app.tsx
Due: lint:js

АПИ лидерборда + редакс (#57)
  packages/client/.env.production
  packages/client/.env.sample
  packages/client/jest.config.js
  packages/client/src/actions/index.ts
  packages/client/src/actions/leaderboard.ts
  packages/client/src/api/index.ts
  packages/client/src/api/leaderboard.ts
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/mock/leaders.ts
  packages/client/src/pages/leaderboard/leaderboard.tsx
  packages/client/src/services/index.ts
  packages/client/src/services/leaderboard-slice.ts
  packages/client/src/vite-env.d.ts
Due: lint:js

Правки по ревью
  packages/client/src/actions/leaderboard.ts
  packages/client/src/assets/icons/error.svg
  packages/client/src/assets/icons/info.svg
  packages/client/src/assets/icons/success.svg
  packages/client/src/assets/icons/warning.svg
  packages/client/src/components/hooks/use-auth.tsx
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/toast/toast.tsx
  packages/client/typings/app.d.ts
Due: lint:js

Убрал зависимости в useEffect
  packages/client/src/components/yandex-oauth/yandex-oauth.tsx
Due: lint:js

замена `querySelector`
  packages/client/src/entry-client.tsx
  packages/eslint-config-shared/index.js
Due: lint:js

подготовка к мерджу
  packages/client/src/routes.tsx
Due: lint:js

экспорт тип leaderboard стейта, исправление в условии SSR
  packages/client/src/components/hooks/use-window-size.ts
  packages/client/src/services/leaderboard-slice.ts
  packages/client/src/store.ts
Due: lint:js

Изменяет типы.
  packages/client/src/actions/forum.ts
  packages/client/src/pages/forum-thread/forum-thread.tsx
  packages/client/src/services/forum-slice.ts
Due: lint:js

добавил pgadmin сервис
  .dockerignore
  .env.sample
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
Due: lint:misc

Фикс верстки лидерборда
  packages/client/src/components/leader/leader.module.pcss
  packages/client/src/pages/leaderboard/leaderboard.module.pcss
  packages/client/src/styles/typography.pcss
Due: lint:css

добавил инициализацию БД и базовое АПИ
  packages/client/.env.development
  packages/client/.env.production
  packages/client/.env.sample
  packages/client/index.html
  packages/server/.eslintrc.cjs
  packages/server/db.ts
  packages/server/package.json
  packages/server/src/controllers/theme.controller.ts
  packages/server/src/db.ts
  packages/server/src/index.ts
  packages/server/src/models/index.ts
  packages/server/src/models/theme.model.ts
  packages/server/src/models/user-theme.model.ts
  packages/server/src/router.ts
  packages/server/src/routes/theme.route.ts
  packages/server/src/services/base.service.ts
  packages/server/src/services/theme.service.ts
  packages/server/src/utils/error-response.ts
  packages/server/src/utils/request-adapter.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint:misc, lint:js

перенос ssr обработчик в отдельный контроллер
  packages/server/src/controllers/ssr.controller.ts
  packages/server/src/index.ts
Due: lint:js

мелкие правки тут и там
  .dockerignore
  docker-compose.yml
  packages/client/src/app.tsx
  packages/client/src/client.d.ts
  packages/client/src/entry-client.tsx
  packages/client/src/store.ts
  packages/server/src/index.ts
Due: lint:misc, lint:js

исправления в theme контроллере
  packages/client/src/client.d.ts
  packages/server/src/controllers/theme.controller.ts
  packages/server/src/services/theme.service.ts
Due: lint:js

Окружение сервера, базовое АПИ цветовых тем (#64)
  .dockerignore
  .env.sample
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  packages/client/.env.development
  packages/client/.env.production
  packages/client/.env.sample
  packages/client/index.html
  packages/client/src/app.tsx
  packages/client/src/client.d.ts
  packages/client/src/entry-client.tsx
  packages/client/src/store.ts
  packages/server/.eslintrc.cjs
  packages/server/db.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/src/controllers/ssr.controller.ts
  packages/server/src/controllers/theme.controller.ts
  packages/server/src/db.ts
  packages/server/src/index.ts
  packages/server/src/models/index.ts
  packages/server/src/models/theme.model.ts
  packages/server/src/models/user-theme.model.ts
  packages/server/src/router.ts
  packages/server/src/routes/theme.route.ts
  packages/server/src/services/base.service.ts
  packages/server/src/services/theme.service.ts
  packages/server/src/utils/error-response.ts
  packages/server/src/utils/request-adapter.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint:misc, lint:js

перенёс YandexOAuth роут в routes.tsx
  packages/client/.env.sample
  packages/client/src/routes.tsx
Due: lint:js

OAuth-авторизация (#61)
  packages/client/.env.sample
  packages/client/src/api/oauth.ts
  packages/client/src/components/form/login-form.tsx
  packages/client/src/components/yandex-oauth-button/index.ts
  packages/client/src/components/yandex-oauth-button/yandex-oauth-button.tsx
  packages/client/src/components/yandex-oauth/index.ts
  packages/client/src/components/yandex-oauth/yandex-oauth.tsx
  packages/client/src/routes.tsx
  packages/client/src/vite-env.d.ts
Due: lint:js

feature/thread-redux/120 (#54)
  packages/client/src/actions/forum.ts
  packages/client/src/api/forum.ts
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/mock/forum-thread.ts
  packages/client/src/mock/forum-threads.ts
  packages/client/src/pages/forum-thread/forum-thread.tsx
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/forum-slice.ts
Due: lint:js

добавляет в ДБ таблицу с тредами и ручки REST-API для работы с ней
  packages/server/src/controllers/thread.controller.ts
  packages/server/src/db.ts
  packages/server/src/models/index.ts
  packages/server/src/models/thread.model.ts
  packages/server/src/router.ts
  packages/server/src/routes/thread.route.ts
  packages/server/src/services/thread.service.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint:misc, lint:js

добавляет обработку передачи неправильного типа данных в limit/offset
  packages/server/src/controllers/thread.controller.ts
Due: lint:js

изменяет название эндпоинта по получению конкретного треда
  packages/server/src/routes/thread.route.ts
Due: lint:js

правки по ревью
  packages/client/src/pages/game/game.tsx
  yarn.lock
Due: lint:js

Фикс верстки лидерборда (#63)
  packages/client/src/components/leader/leader.module.pcss
  packages/client/src/pages/leaderboard/leaderboard.module.pcss
  packages/client/src/styles/typography.pcss
Due: lint:css

Компонент Toast для уведомлений (#60)
  packages/client/index.html
  packages/client/src/actions/leaderboard.ts
  packages/client/src/assets/icons/error.svg
  packages/client/src/assets/icons/info.svg
  packages/client/src/assets/icons/success.svg
  packages/client/src/assets/icons/warning.svg
  packages/client/src/components/hooks/use-auth.tsx
  packages/client/src/components/icon/icon.module.pcss
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/main-layout/main-layout.tsx
  packages/client/src/components/toast/index.ts
  packages/client/src/components/toast/toast.module.pcss
  packages/client/src/components/toast/toast.tsx
  packages/client/src/pages/auth/auth.tsx
  packages/client/src/pages/profile/profile.tsx
  packages/client/src/services/app-slice.ts
  packages/client/src/services/index.ts
  packages/client/src/store.ts
  packages/client/src/styles/variables.pcss
  packages/client/typings/app.d.ts
Due: lint:misc, lint:css, lint:js

добавляет уведомление при ошибке фетча игровых данных
  packages/client/src/pages/game/game.tsx
Due: lint:js

убирает комменты и русифицирует сообщения бека об ошибках
  packages/server/src/controllers/thread.controller.ts
  packages/server/src/models/thread.model.ts
Due: lint:js

адаптация toast под SSR
  packages/client/src/components/toast/toast.tsx
Due: lint:js

убрал опечатку
  packages/client/src/components/toast/toast.tsx
Due: lint:js

добавляет в БД таблицу с сообщениями и ручки REST-API для работы с ней
  packages/server/src/controllers/message.controller.ts
  packages/server/src/db.ts
  packages/server/src/models/index.ts
  packages/server/src/models/message.model.ts
  packages/server/src/router.ts
  packages/server/src/routes/message.route.ts
  packages/server/src/services/message.service.ts
Due: lint:js

добавляет в ДБ таблицу с тредами и ручки REST-API для работы с ней (#65)
  packages/server/src/controllers/thread.controller.ts
  packages/server/src/db.ts
  packages/server/src/models/index.ts
  packages/server/src/models/thread.model.ts
  packages/server/src/router.ts
  packages/server/src/routes/thread.route.ts
  packages/server/src/services/thread.service.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint:misc, lint:js

Feat/game data api/123 (#62)
  packages/client/.eslintrc.cjs
  packages/client/src/api/game-base-api.ts
  packages/client/src/api/game.ts
  packages/client/src/api/index.ts
  packages/client/src/api/types.ts
  packages/client/src/assets/game-thumbs/aleksa.png
  packages/client/src/assets/game-thumbs/minion.png
  packages/client/src/assets/game-thumbs/street.png
  packages/client/src/assets/game-thumbs/village.png
  packages/client/src/components/game-card/game-card.tsx
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/index.ts
  packages/client/src/pages/game/game.tsx
  packages/client/src/pages/main/main.tsx
  packages/client/src/routes.tsx
  packages/client/src/services/game-slice.ts
  packages/client/src/services/index.ts
  packages/client/src/services/level-slice.ts
  packages/client/src/store.ts
  packages/client/src/utils/api-transformers.ts
  packages/client/src/utils/catalog-game-cards.ts
  packages/client/src/utils/level-loader.ts
Due: lint:js

добавляет первое сообщение в модель треда и создает в БД новое сообщение
  packages/client/src/styles/utils.pcss
  packages/server/.eslintrc.cjs
  packages/server/src/models/thread.model.ts
  packages/server/src/services/message.service.ts
  packages/server/src/services/thread.service.ts
Due: lint:css, lint:js

Path conditions:
  lint:misc: any of: *.{html,json,yml,md}, but not: package-lock.json
  lint:css: any of: *.{css,pcss}
  lint:js: any of: *.{ts,tsx}, but not: ^(.*)\.(spec|test)\.tsx?
  test:unit: any of: *.{spec,test}.{ts,tsx}
