Repository Fancy-Colors/FCG-Fancy-Colors-Game: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js, test:unit

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:misc:
      glob: '*.{html,json,yml,md}'
      exclude: 'package-lock.json'
      run: yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}
    lint:css:
      glob: '*.{css,pcss}'
      run: >
        yarn stylelint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        git add {staged_files}
    lint:js:
      glob: '*.{ts,tsx}'
      exclude: '^(.*)\.(spec|test)\.tsx?'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix --max-warnings=0 {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} &&
        git add {staged_files}
    test:unit:
      glob: '*.{spec,test}.{ts,tsx}'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest {staged_files} &&
        git add {staged_files}

Доп. настройка jest и eslint (#44)
  jest.config.js
  lefthook.yml
  packages/client/.eslintrc.cjs
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/app.test.tsx
  packages/client/src/components/tabs/tabs.module.pcss
  packages/client/src/components/tabs/tabs.test.tsx
  packages/client/src/components/tabs/tabs.tsx
  packages/client/test/jest-setup.ts
  packages/client/test/mocks/svg.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  packages/eslint-config-shared/index.js
  packages/server/jest.config.js
  yarn.lock
Due: lint:misc, lint:css, lint:js, test:unit

Доп. фичи ColorPicker (#45)
  packages/client/package.json
  packages/client/src/components/color-picker/color-picker.module.pcss
  packages/client/src/components/color-picker/color-picker.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/eslint-config-shared/index.js
  yarn.lock
Due: lint:misc, lint:css, lint:js

Добавлен service worker
  packages/client/index.html
  packages/client/public/sw.js
  packages/client/vite.config.ts
Due: lint:misc, lint:js

Одинарные кавычки
  packages/client/public/sw.js
Due: none

правки после ревью - перенос логики в родителя, линтинг, рефактор useEffect
  packages/client/src/components/game-timer/game-timer.tsx
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/pages/game/game.tsx
Due: lint:css, lint:js

правки после ревью
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/colors-sort-comparator.ts
  packages/client/src/components/game-view/utils/draw-history.ts
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/make-initial-data.ts
  packages/client/src/components/game-view/utils/render-path.ts
  packages/client/src/components/game-view/utils/types.ts
  packages/client/src/pages/game/game.tsx
  packages/client/src/pages/main/main.tsx
  packages/client/src/utils/catalog-game-cards.ts
Due: lint:js

добавлена установка высоты для colorPicker
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/resize-field.ts
Due: lint:js

Экран и логика окончания игры (#42)
  packages/client/src/components/game-timer/game-timer.module.pcss
  packages/client/src/components/game-timer/game-timer.tsx
  packages/client/src/components/game-timer/index.ts
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/index.ts
  packages/client/src/components/game-view/utils/calculate-points.ts
  packages/client/src/components/game-view/utils/colors-sort-comparator.ts
  packages/client/src/components/game-view/utils/draw-history.ts
  packages/client/src/components/game-view/utils/form-colors.ts
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/make-initial-data.ts
  packages/client/src/components/game-view/utils/render-path.ts
  packages/client/src/components/game-view/utils/resize-field.ts
  packages/client/src/components/game-view/utils/stringify-time.ts
  packages/client/src/components/game-view/utils/types.ts
  packages/client/src/pages/game/game.module.pcss
  packages/client/src/pages/game/game.tsx
Due: lint:css, lint:js

Добавление игровых картинок и логики начальной работы с ними (#43)
  packages/client/src/assets/game-thumbs/aleksa.png
  packages/client/src/assets/game-thumbs/minion.png
  packages/client/src/assets/game-thumbs/village.png
  packages/client/src/components/game-timer/game-timer.module.pcss
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/colors-sort-comparator.ts
  packages/client/src/components/game-view/utils/draw-history.ts
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/make-initial-data.ts
  packages/client/src/components/game-view/utils/render-path.ts
  packages/client/src/components/game-view/utils/resize-field.ts
  packages/client/src/components/game-view/utils/types.ts
  packages/client/src/mock/game-cards.ts
  packages/client/src/pages/game/game.tsx
  packages/client/src/pages/main/main.tsx
  packages/client/src/utils/catalog-game-cards.ts
Due: lint:css, lint:js

добавляет новый уровень и убирает лишние рендеры
  packages/client/src/assets/game-thumbs/street.png
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/game-data.ts
Due: lint:css, lint:js

в кэш добавлены новые пути с играми
  packages/client/public/sw.js
Due: none

адаптация под мобильные устройства
  packages/client/package.json
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/form/form.module.pcss
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/text-field/text-field.tsx
  packages/client/src/pages/auth/auth.module.pcss
  packages/client/src/pages/auth/auth.tsx
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/typography.pcss
  packages/client/src/styles/variables.pcss
  packages/client/src/utils/validation.ts
Due: lint:misc, lint:css, lint:js

Подключение React Redux Toolkit (#46)
  packages/client/package.json
  packages/client/src/components/hooks/index.ts
  packages/client/src/components/hooks/use-app-dispatch.ts
  packages/client/src/components/hooks/use-app-selector.ts
  packages/client/src/main.tsx
  packages/client/src/store.ts
Due: lint:misc, lint:js

добавил базовый редьюсер для game
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/pages/game/game.tsx
  packages/client/src/services/reducers/game/game-slice.test.js
  packages/client/src/services/reducers/game/game-slice.ts
  packages/client/src/services/reducers/index.ts
  packages/client/src/store.ts
  yarn.lock
Due: lint:js

добавляет слайс для игровой истории + тест
  packages/client/src/components/game-card/game-card.tsx
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/draw-history.ts
  packages/client/src/components/game-view/utils/types.ts
  packages/client/src/pages/game/game.tsx
  packages/client/src/services/reducers/game/game-slice.test.js
  packages/client/src/services/reducers/game/game-slice.test.ts
  packages/client/src/services/reducers/game/game-slice.ts
Due: lint:js, test:unit

убрал ненужную настройку devTools
  packages/client/src/store.ts
Due: lint:js

добавляет новый уровень и убирает лишние рендеры (#48)
  packages/client/src/assets/game-thumbs/street.png
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/game-data.ts
Due: lint:css, lint:js

убирает дубли
  packages/client/src/components/game-view/game-view.tsx
Due: lint:js

feature. Добавляет использование store на странице форума.
  packages/client/src/mock/forum-thread.ts
  packages/client/src/mock/forum-threads.ts
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/api/forum/forum-api-service.ts
  packages/client/src/services/reducers/forum/forum-slice.ts
  packages/client/src/services/reducers/index.ts
Due: lint:js

code style.
  packages/client/src/pages/forum/forum.tsx
Due: lint:js

Feat/service worker/112 (#47)
  packages/client/index.html
  packages/client/public/sw.js
  packages/client/vite.config.ts
Due: lint:misc, lint:js

адаптация под мобильные устройства (#49)
  packages/client/package.json
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/form/form.module.pcss
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/text-field/text-field.tsx
  packages/client/src/pages/auth/auth.module.pcss
  packages/client/src/pages/auth/auth.tsx
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/typography.pcss
  packages/client/src/styles/variables.pcss
  packages/client/src/utils/validation.ts
Due: lint:misc, lint:css, lint:js

refactoring. Добавляет использование Thunk для асинхронного вызова апи + code style.
  packages/client/src/actions/forum.ts
  packages/client/src/actions/index.ts
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/api/index.ts
Due: lint:js

refactoring. Изменяет структуру папок и убирает тип.
  packages/client/src/actions/forum.ts
  packages/client/src/api/forum.ts
  packages/client/src/api/index.ts
  packages/client/src/mock/forum-threads.ts
  packages/client/src/services/api/index.ts
  packages/client/src/services/reducers/forum-slice.ts
  packages/client/src/services/reducers/index.ts
Due: lint:js

refactoring. Изменяет типы.
  packages/client/src/services/reducers/forum-slice.ts
Due: lint:js

refactoring. Изменяет типы.
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/reducers/forum-slice.ts
Due: lint:js

refactoring. Изменяет импорты типов.
  packages/client/src/api/forum.ts
  packages/client/src/components/forum-item/forum-item.tsx
Due: lint:js

правки после ревью
  packages/client/src/components/game-card/game-card.tsx
  packages/client/src/components/game-timer/game-timer.tsx
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/index.ts
  packages/client/src/pages/game/game.tsx
  packages/client/src/pages/main/main.module.pcss
  packages/client/src/pages/main/main.tsx
  packages/client/src/services/game-slice.test.ts
  packages/client/src/services/game-slice.ts
  packages/client/src/services/index.ts
  packages/client/src/store.ts
Due: lint:css, lint:js, test:unit

убрал велосипед, вошедший в core RTK
  packages/client/src/store.ts
Due: lint:js

Небольшая оптимизация канваса
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
Due: lint:css, lint:js

добавил хук для переключения темы
  packages/client/src/components/hooks/.keep
  packages/client/src/components/hooks/index.ts
  packages/client/src/components/hooks/use-theme.tsx
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/main.tsx
  yarn.lock
Due: lint:js

переписал css переменные цветов
  packages/client/src/assets/icons/theme-toggle.svg
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/color-picker/color-picker.module.pcss
  packages/client/src/components/error-stub/error-stub.module.pcss
  packages/client/src/components/footer/footer.module.pcss
  packages/client/src/components/footer/footer.tsx
  packages/client/src/components/forum-item/forum-item.module.pcss
  packages/client/src/components/forum-message/forum-message.module.pcss
  packages/client/src/components/game-card/game-card.module.pcss
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/hooks/use-theme.tsx
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/lead/lead.module.pcss
  packages/client/src/components/leader/leader.module.pcss
  packages/client/src/components/message-composer/message-composer.tsx
  packages/client/src/components/modal/modal.module.pcss
  packages/client/src/components/navigation-link/navigation-link.module.pcss
  packages/client/src/components/navigation-link/navigation-link.tsx
  packages/client/src/components/pagination/pagination.module.pcss
  packages/client/src/components/profile-link/profile-link.module.pcss
  packages/client/src/components/profile-link/profile-link.tsx
  packages/client/src/components/score/score.tsx
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/components/tabs/tabs.module.pcss
  packages/client/src/components/text-area/text-area.module.pcss
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/upload-field/upload-field.module.pcss
  packages/client/src/pages/auth/auth.module.pcss
  packages/client/src/pages/forum-thread/forum-thread.module.pcss
  packages/client/src/pages/forum-thread/forum-thread.tsx
  packages/client/src/pages/forum/forum.module.pcss
  packages/client/src/styles/index.pcss
  packages/client/src/styles/utils.pcss
  packages/client/src/styles/variables.pcss
  packages/client/typings/app.d.ts
Due: lint:css, lint:js

добавил дефолтный цвет для иконок
  packages/client/src/components/footer/footer.tsx
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/message-composer/message-composer.module.pcss
  packages/client/src/components/navigation-link/navigation-link.tsx
  packages/client/src/components/profile-link/profile-link.tsx
  packages/client/src/components/score/score.tsx
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/pages/forum-thread/forum-thread.tsx
  packages/client/src/styles/variables.pcss
Due: lint:css, lint:js

Feat/game data reducer/116 (#50)
  packages/client/src/components/game-timer/game-timer.tsx
  packages/client/src/components/game-view/game-view-completed.tsx
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/draw-history.ts
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/index.ts
  packages/client/src/components/game-view/utils/types.ts
  packages/client/src/pages/game/game.tsx
  packages/client/src/pages/main/main.module.pcss
  packages/client/src/pages/main/main.tsx
  packages/client/src/services/game-slice.test.ts
  packages/client/src/services/game-slice.ts
  packages/client/src/services/index.ts
  packages/client/src/store.ts
  yarn.lock
Due: lint:css, lint:js, test:unit

code style.
  packages/client/src/api/forum.ts
  packages/client/src/services/reducers/forum-slice.ts
Due: lint:js

code style.
  packages/client/src/actions/forum.ts
  packages/client/src/api/forum.ts
  packages/client/src/components/forum-item/forum-item.tsx
  packages/client/src/components/game-card/game-card.tsx
  packages/client/src/mock/forum-threads.ts
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/services/forum-slice.ts
  packages/client/src/services/index.ts
  packages/client/src/services/reducers/game/game-slice.test.ts
  packages/client/src/services/reducers/game/game-slice.ts
  packages/client/src/services/reducers/index.ts
Due: lint:js, test:unit

адаптация лидерборда и сайдменю под мобильные устройства
  packages/client/src/assets/icons/burger.svg
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/button/button.tsx
  packages/client/src/components/footer/footer.module.pcss
  packages/client/src/components/icon/icon.module.pcss
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/leader/leader.module.pcss
  packages/client/src/components/leader/leader.tsx
  packages/client/src/components/main-layout/main-layout.module.pcss
  packages/client/src/components/navigation-link/navigation-link.module.pcss
  packages/client/src/components/score/score.module.pcss
  packages/client/src/components/score/score.tsx
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/pages/leaderboard/leaderboard.module.pcss
  packages/client/src/pages/leaderboard/leaderboard.tsx
  packages/client/src/pages/profile/profile.module.pcss
  packages/client/src/styles/layout.pcss
  packages/client/src/styles/typography.pcss
  packages/client/src/styles/utils.pcss
  packages/client/src/styles/variables.pcss
  packages/client/typings/app.d.ts
Due: lint:css, lint:js

feature. Добавляет использование redux на странице треда.
  packages/client/src/actions/forum.ts
  packages/client/src/api/forum.ts
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/mock/forum-thread.ts
  packages/client/src/mock/forum-threads.ts
  packages/client/src/pages/forum-thread/forum-thread.tsx
  packages/client/src/services/forum-slice.ts
Due: lint:js

Правки по ревью
  packages/client/src/assets/logo-narrow.svg
  packages/client/src/components/icon/icon.module.pcss
  packages/client/src/components/navigation-link/navigation-link.module.pcss
  packages/client/src/components/score/score.module.pcss
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/styles/utils.pcss
Due: lint:css, lint:js
