Repository Fancy-Colors/FCG-Fancy-Colors-Game: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js:client, lint:js:server, test:unit:client, test:unit:server

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:misc:
      glob: '*.{html,json,yml,md}'
      exclude: 'package-lock.json'
      run: yarn prettier --write --loglevel warn {staged_files} && git add {staged_files}
    lint:css:
      glob: '*.{css,pcss}'
      run: >
        yarn stylelint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        git add {staged_files}
    lint:js:client:
      root: 'packages/client/'
      glob: '*.{ts,tsx}'
      exclude: '^(.*)\.(spec|test)\.tsx?'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix --max-warnings=0 {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} &&
        git add {staged_files}
    lint:js:server:
      root: 'packages/server/'
      glob: '*.{ts,tsx}'
      exclude: '^(.*)\.(spec|test)\.tsx?'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix --max-warnings=0 {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest --bail --findRelatedTests --passWithNoTests {staged_files} &&
        git add {staged_files}
    test:unit:client:
      root: 'packages/client/'
      glob: '*.{spec,test}.{ts,tsx}'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest {staged_files} &&
        git add {staged_files}
    test:unit:server:
      root: 'packages/server/'
      glob: '*.{spec,test}.{ts,tsx}'
      env:
        PRE_COMMIT: true
      run: >
        yarn eslint --fix {staged_files} &&
        yarn prettier --write --loglevel warn {staged_files} &&
        yarn jest {staged_files} &&
        git add {staged_files}

fix. Добавляет экспорт типа.
  packages/client/src/components/forum-message/forum-message.tsx
Due: lint:js:client

code style. Изменяет проброс строковых значений через пропсы.
  packages/client/src/components/forum-thread/forum-thread.tsx
Due: lint:js:client

экран тянется и при ресайзе, но не выходит за рамки экрана
  packages/client/src/components/game-view/game-view.tsx
Due: lint:js:client

коррекция стилей
  packages/client/src/components/game-view/game-view.module.pcss
Due: lint:css

переименовал стейт переменную для большей ясности
  packages/client/src/components/game-view/game-view.tsx
Due: lint:js:client

Формы изменены на два компонента, добавлены регистрация и вход
  packages/client/src/components/form/form.tsx
  packages/client/src/components/form/index.ts
  packages/client/src/components/form/login-form.tsx
  packages/client/src/components/form/register-form.tsx
  packages/client/src/mock/register-fields.ts
Due: lint:js:client

Добавлены страницы регистрации и логина
  packages/client/src/app.tsx
  packages/client/src/components/form/form.module.pcss
  packages/client/src/pages/register-login/index.ts
  packages/client/src/pages/register-login/login.tsx
  packages/client/src/pages/register-login/register-login.module.pcss
  packages/client/src/pages/register-login/register.tsx
Due: lint:css, lint:js:client

Страница профиля (#27)
  packages/client/src/app.test.tsx
  packages/client/src/app.tsx
  packages/client/src/components/avatar/avatar.module.pcss
  packages/client/src/components/avatar/avatar.tsx
  packages/client/src/components/hooks/use-auth.tsx
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/text-field/text-field.tsx
  packages/client/src/components/upload-field/index.ts
  packages/client/src/components/upload-field/upload-field.module.pcss
  packages/client/src/components/upload-field/upload-field.tsx
  packages/client/src/pages/profile/index.tsx
  packages/client/src/pages/profile/profile.module.pcss
  packages/client/src/pages/profile/profile.tsx
  packages/client/src/styles/utils.pcss
  packages/eslint-config-shared/index.js
Due: lint:css, lint:js:client, test:unit:client

добавил страницы ошибок
  packages/client/src/app.tsx
  packages/client/src/components/error-stub/error-stub.tsx
  packages/client/src/components/error-stub/index.ts
  packages/client/src/components/main-layout/main-layout.module.pcss
  packages/client/src/components/main-layout/main-layout.tsx
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/pages/error/error.module.pcss
  packages/client/src/pages/error/error.tsx
  packages/client/src/pages/error/index.ts
  packages/client/src/styles/utils.pcss
  packages/eslint-config-shared/index.js
Due: lint:css, lint:js:client

правки по код-стилю и новая функция зума
  packages/client/src/assets/canvas-fill-pattern.png
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/form-colors.ts
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/render-path.ts
Due: lint:js:client

меняет базовую игровую картинку
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/game-data.ts
Due: lint:css, lint:js:client

Убран список с полями
  packages/client/src/components/form/form.module.pcss
  packages/client/src/components/form/login-form.tsx
  packages/client/src/components/form/register-form.tsx
Due: lint:css, lint:js:client

fix. Пачка исправление согласно CR.
  packages/client/src/components/forum-message/forum-message.module.pcss
  packages/client/src/components/forum-message/forum-message.tsx
Due: lint:css, lint:js:client

fix. Центрирует стрелку влево.
  packages/client/src/components/forum-thread/forum-thread.module.pcss
Due: lint:css

Поправлены стили форм и инпута
  packages/client/src/components/form/form.module.pcss
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/text-field/text-field.tsx
  packages/client/src/pages/profile/profile.module.pcss
Due: lint:css, lint:js:client

edit. code style.
  packages/client/src/components/forum-message/forum-message.module.pcss
  packages/client/src/components/forum-message/forum-message.tsx
Due: lint:css, lint:js:client

небольшие визуальные улучшения
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/utils/render-path.ts
Due: lint:css, lint:js:client

edit. code style.
  packages/client/src/components/forum-thread/forum-thread.module.pcss
Due: lint:css

габариты обертки для канваса задаются инлайново константой CANVAS_SIZE
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
Due: lint:css, lint:js:client

избавился от двойной вложенности if в колбеке pathClickHandler
  packages/client/src/components/game-view/game-view.tsx
Due: lint:js:client

избавился от артефактов - debugger и т.п.
  packages/client/src/components/game-view/game-view.tsx
Due: lint:js:client

избавился от ненужной перерисовки при изменении зума
  packages/client/src/components/game-view/game-view.tsx
Due: lint:js:client

Убрала key и reset
  packages/client/src/components/form/login-form.tsx
  packages/client/src/components/form/register-form.tsx
Due: lint:js:client

feature. добавляет пагинацию нв компонент с тредами.
  packages/client/src/components/forum-thread/forum-thread.tsx
Due: lint:js:client

Добавила компонент формы регистрации и логина (#29)
  packages/client/src/components/button/button.module.pcss
  packages/client/src/components/form/form.module.pcss
  packages/client/src/components/form/index.ts
  packages/client/src/components/form/login-form.tsx
  packages/client/src/components/form/register-form.tsx
  packages/client/src/components/text-field/text-field.module.pcss
  packages/client/src/components/text-field/text-field.tsx
  packages/client/src/pages/profile/profile.module.pcss
  packages/client/src/utils/validation.ts
  packages/client/vite.config.ts
Due: lint:css, lint:js:client

Добавлен компонент-обертка ErrorBoundary (#33)
  packages/client/src/utils/error-boundary.tsx
Due: lint:js:client

layout/forum-message/87 (#30)
  packages/client/src/components/forum-message/forum-message.module.pcss
  packages/client/src/components/forum-message/forum-message.tsx
  packages/client/src/components/forum-message/index.ts
Due: lint:css, lint:js:client

layout. Добавляет страницу со списком тем (тредов).
  packages/client/src/app.tsx
  packages/client/src/components/forum-item/forum-item.module.pcss
  packages/client/src/components/forum-item/forum-item.tsx
  packages/client/src/components/forum-item/index.ts
  packages/client/src/mock/forum-threads.ts
  packages/client/src/pages/forum/forum.module.pcss
  packages/client/src/pages/forum/forum.tsx
  packages/client/src/pages/forum/index.ts
  yarn.lock
Due: lint:css, lint:js:client

мелкие исправления код-стиля
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/utils/form-colors.ts
  packages/client/src/components/game-view/utils/render-path.ts
Due: lint:js:client

Переделана разметка и стили
  packages/client/src/app.tsx
  packages/client/src/components/form/login-form.tsx
  packages/client/src/components/form/register-form.tsx
  packages/client/src/pages/register-login/login.tsx
  packages/client/src/pages/register-login/register-login.module.pcss
  packages/client/src/pages/register-login/register.tsx
Due: lint:css, lint:js:client

Исправлены названия путей
  packages/client/src/app.tsx
  packages/client/src/components/form/login-form.tsx
  packages/client/src/components/form/register-form.tsx
  packages/client/src/pages/register-login/login.tsx
  packages/client/src/pages/register-login/register.tsx
Due: lint:js:client

Отступ изменен на переменную
  packages/client/src/pages/register-login/register-login.module.pcss
Due: lint:css

edit. Исправляет вёрстку и добавляет пагинацию.
  packages/client/src/components/forum-item/forum-item.module.pcss
  packages/client/src/mock/forum-threads.ts
  packages/client/src/pages/forum/forum.module.pcss
  packages/client/src/pages/forum/forum.tsx
Due: lint:css, lint:js:client

Фикс пропсов
  packages/client/src/components/form/login-form.tsx
  packages/client/src/components/form/register-form.tsx
Due: lint:js:client

добавил скролл у leaderboard страницы
  packages/client/src/pages/leaderboard/leaderboard.tsx
  packages/client/src/pages/main/main.module.pcss
  packages/client/src/styles/utils.pcss
Due: lint:css, lint:js:client

Игровой движок (#31)
  packages/client/src/app.tsx
  packages/client/src/assets/canvas-fill-pattern.png
  packages/client/src/components/game-view/game-view.module.pcss
  packages/client/src/components/game-view/game-view.tsx
  packages/client/src/components/game-view/index.ts
  packages/client/src/components/game-view/utils/form-colors.ts
  packages/client/src/components/game-view/utils/game-data.ts
  packages/client/src/components/game-view/utils/render-path.ts
  packages/client/src/components/hooks/use-debounce.ts
  packages/client/src/pages/game/game.module.pcss
  packages/client/src/pages/game/game.tsx
  packages/client/src/pages/game/index.ts
  yarn.lock
Due: lint:css, lint:js:client

layout/forum-thread/86 (#32)
  packages/client/src/app.tsx
  packages/client/src/components/forum-thread/forum-thread.module.pcss
  packages/client/src/components/forum-thread/forum-thread.tsx
  packages/client/src/components/forum-thread/index.ts
  packages/client/src/mock/forum-thread.ts
Due: lint:css, lint:js:client

внедрил user api в side-menu
  packages/client/src/assets/icons/user.svg
  packages/client/src/components/icon/icon.tsx
  packages/client/src/components/profile-link/profile-link.module.pcss
  packages/client/src/components/profile-link/profile-link.tsx
  packages/client/src/components/side-menu/side-menu.module.pcss
  packages/client/src/components/side-menu/side-menu.tsx
  packages/client/src/mock/side-menu-links.ts
  packages/client/typings/app.d.ts
Due: lint:css, lint:js:client

убрал лишние скобки
  packages/client/src/components/side-menu/side-menu.tsx
Due: lint:js:client

исправления в profile-link
  packages/client/src/components/profile-link/profile-link.module.pcss
  packages/client/src/components/profile-link/profile-link.tsx
Due: lint:css, lint:js:client
